/** @format */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;600;700;800&display=swap");

$primary: #0e60bf;
$secondary: #e8f2ff;
$transparent: #00000000;
// $Text-Light:;
// $Text-Dark:;
// $Text-Blue:;
$Manrope: "Manrope", sans-serif;

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  text-decoration: none;
  background: none;
  box-sizing: border-box;
  font-family: $Manrope;
  //   border:1px solid red;
}
body {
  overflow-x: hidden;
}
.header {
  height: 3rem;
  box-shadow: 0 0 1px #000;
}
.hamburger {
  font-size: 1.3rem;
}
.nav-menu {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 70%;
  height: 100vh;
  background: $secondary;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
}
.nav-items {
  padding: 0.3rem;
}
.nav-svg {
  margin: 0rem 1rem 0rem 0rem;
  position: relative;
  bottom: 0.1rem;
}
.x-mark {
  left: 9.5rem;
  top: 1rem;
  font-size: 1.3rem;
}

// MAIN SECTION
.hero {
  width: 100%;
  height: 10rem;
  background: linear-gradient(#0e61bf74, #0e61bf74),
    url(../images/home.png) fixed;
  background-position: center;
  background-size: auto;
}
.hero-container {
  width: 100%;
  height: 100%;
}
.hero-text {
  font-weight: 900 !important;
  color: black;
}

.services {
  width: 100%;
  height: auto;
  border: 2px solid #e8f2ff;
  border-radius: 1rem;
  bottom: 2rem;
  background: #fff;
  box-shadow: #0000000f 0px 20px 16px 0px;
}
.sunday-service,
.wednesday-service {
  width: 15rem;
  height: 4rem;
  background: #f5f9ff;
  border: 1px solid #c6deff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: start;
}
.sunday-service svg,
.wednesday-service svg {
  grid-area: 1/1/3/2;
  margin: 0rem 0rem 0rem 0.5rem;
}
.service-text {
  font-size: 0.9rem;
}
// import font weights
.service-header {
  font-weight: bolder;
}
.service-time {
  font-size: 0.9rem;
}
.text {
  font-size: 0.9rem;
}
.sunday-teaching,
.wednesday-teaching,
.youtube {
  border: 1px solid #c6deff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 8px 16px 0px;
}
.teaching-text {
  font-size: 0.9rem;
}
.footer {
  width: 100%;
  height: auto;
  background: #0b2645;
}
.footer-container {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .header {
    height: 4rem;
    box-shadow: 0 0 1px #000;
  }
  .x-mark {
    left: 11rem;
  }
  .sunday-service,
  .wednesday-service {
    width: 95%;
  }
}

@media screen and (min-width: 375px) {
  .x-mark {
    left: 13.5rem;
  }
}

@media screen and (min-width: 475px) {
  .x-mark {
    left: 18rem;
  }
}

@media screen and (min-width: 576px) {
  .nav-menu {
    width: 20rem;
  }
  .x-mark {
    left: 17rem;
  }
  .sunday-service,
  .wednesday-service {
    width: 22rem;
  }
  .sunday-service svg,
  .wednesday-service svg {
    grid-area: 1/1/3/2;
    margin: 0rem 0rem 0rem 0rem;
  }
  .service-time {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .sunday-service,
  .wednesday-service {
    width: 15rem;
    height: 4rem;
  }
  .service-text {
    font-size: 1rem;
  }
  .service-time {
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
  }
  .teaching-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    height: 5rem;
  }
  .church-name {
    font-size: 0.9rem;
  }
  .nav-menu {
    position: static;
    width: auto;
    height: 100%;
    transform: none;
    right: 0rem;
    top: 1rem;
    background: $transparent;
  }
  .nav-svg {
    margin: 0rem 0.3rem 0rem 0rem;
    position: relative;
    bottom: 0.1rem;
  }
  .nav-items {
    font-size: 0.9rem;
    position: relative;
    padding: 0.5rem;
  }
  .nav-items:hover {
    background: #c6deff;
    padding: 7px;
    border-radius: 0.3rem;
    border: 1px solid #c6deff;
  }
  .caret {
    transition: all 0.1s ease-in-out;
  }
  .nav-items:hover .caret {
    transform: rotateZ(90deg);
  }
  .item-dropdown {
    position: absolute;
    top: 2.3rem;
    left: 0rem;
    width: 13rem;
    height: 0rem;
    border-radius: 1rem;
    background: $secondary;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .hero {
    width: 100%;
    height: 40vh;
    background: linear-gradient(#0e61bf74, #0e61bf74),
      url(../images/home.png) fixed;
    background-position: top;
    background-size: auto;
  }
  .hero-text {
    font-size: 3rem;
  }
  .teaching,
  .youtube {
    width: 80%;
  }
  .footer-container {
    display: grid !important;
    grid-template-columns: 0.6fr 1fr 1fr 0.65fr 0.4fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }
  .footer-logo,
  .address,
  .footer-contact,
  .copyright {
    font-size: 0.85rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
  }
  .copyright {
    grid-area: 1/2/2/3;
  }
  .copyright {
    order: 2 !important;
  }
}

@media screen and (min-width: 1024px) {
  .hero-text {
    font-size: 3.5rem;
  }
  .services {
    width: 80%;
  }
  .sunday-service,
  .wednesday-service {
    height: 5rem;
  }
  .footer-logo,
  .address,
  .footer-contact,
  .copyright {
    font-size: 1rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
  }
}
.showDropdown {
  height: auto;
}

// add hover effect for dropdown menu
