<!-- @format -->

<footer class="footer">
  <div
    class="footer-container container-xl py-3 d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <a href="#" class="footer-logo my-2 mx-lg-2 text-white"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="none"
        viewBox="0 0 29 24"
        style="height: 20px; width: 20px; margin-right: 0.5rem">
        <path
          fill="currentColor"
          d="M11.768 23.937c0-.318.064-.653-.018-.947-.085-.305-.247-.73-.485-.825-1.287-.513-1.582-1.534-1.571-2.757 0-.132-.017-.262-.02-.335-1.185 0-2.323.06-3.45-.019-.924-.066-1.87-.19-2.745-.476C.477 17.605-.843 14.392.564 11.54c.402-.814.987-1.535 1.412-2.34.603-1.14 1.13-2.32 1.703-3.476.068-.137.216-.236.327-.352.095.127.258.248.273.384.093.885.66 1.377 1.403 1.705 1.5.66 3.096.733 4.697.643.2-.011.468-.384.554-.639.842-2.466 1.65-4.942 2.485-7.464.087.154.268.34.3.55.542 3.464 3.186 5.386 7.256 3.926.868-.311.87-.305 1.69.22-1.45 2.327-2.903 4.654-4.367 7.001 1.38-.044 2.613-.099 3.848-.115.951-.014 1.936.174 2.846-.015.781-.163 1.538-.654 2.189-1.152.444-.338.79-.573 1.39-.271a11.201 11.201 0 0 1-1.08 4.62c-1.337 2.856-3.512 4.674-6.665 5.194-.62.102-1.27-.013-1.906.021-1.154.062-2.329.044-3.451.27-1.52.308-2.454 1.408-3.072 2.789-.146.325-.306.641-.46.962l-.17-.062.002-.001ZM3.62 7.952c-.607 1.65-1.249 3.14-1.697 4.683-.492 1.695-.22 3.266 1.32 4.399.89.655 1.91.941 3 1.003 1.526.088 2.988-.227 4.434-.674.223-.069.556-.058.723.068.113.084.06.444.014.67-.078.4-.227.785-.308 1.185-.158.778.145 1.373.837 1.768.347.198.6.209.87-.152 1.315-1.757 3.181-2.236 5.187-1.842 3.394.663 7.677-2.147 8.755-5.303.118-.342.145-.717.201-1.004-1.776 0-3.439.004-5.1 0-2.151-.007-4.205.248-5.662 2.135l-1.203-.9c1.468-2.723 3.767-4.857 5.043-7.756-2.266-.088-4.418-.21-6.335-1.368-.493 1.423-.969 2.792-1.506 4.337-1.775 0-3.642.045-5.507-.018-1.062-.036-2.16-.13-3.067-1.23v-.001Z"></path></svg
      >Calvary Chapel
    </a>
    <p class="address m-0 mx-lg-2 text-white my-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="none"
        viewBox="0 0 20 20"
        style="margin-right: 8px">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.667"
          d="M17.5 8.333c0 5.834-7.5 10.834-7.5 10.834s-7.5-5-7.5-10.834a7.5 7.5 0 0 1 15 0Z"></path>
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.667"
          d="M10 10.833a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
      </svg>
      Takamaantie 15 20720 Turku
    </p>
    <p class="footer-contact m-0 mx-lg-2 text-white my-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="none"
        viewBox="0 0 24 24"
        style="margin-right: 8px">
        <g fill="currentColor" clip-path="url(#PhoneSvg_svg__a)">
          <path
            d="M10.97 13.8a.748.748 0 0 1-.53-.22L7.31 10.453a.75.75 0 0 1 0-1.06l1.825-1.826c.57-.57.57-1.497 0-2.067L7.051 3.415c-.552-.552-1.515-.553-2.068 0a.788.788 0 0 1-.109.09c-.086.06-2.18 1.557-1.836 4.648a.75.75 0 1 1-1.49.166c-.416-3.734 1.987-5.69 2.42-6.01 1.123-1.078 3.038-1.06 4.143.044l2.085 2.086a2.965 2.965 0 0 1 0 4.188L8.902 9.922 11.5 12.52a.749.749 0 0 1-.53 1.28ZM7.32 17.45a.748.748 0 0 1-.53-.22c-1.843-1.843-3.222-3.642-4.1-5.346a.75.75 0 1 1 1.333-.687c.807 1.567 2.094 3.24 3.827 4.972a.75.75 0 0 1-.53 1.28Z"></path>
          <path
            d="M16.494 22.486c-2.953 0-6.224-1.776-9.738-5.29a.75.75 0 1 1 1.06-1.061c3.405 3.405 6.584 5.071 9.213 4.827 2.318-.22 3.441-1.834 3.453-1.851a.688.688 0 0 1 .09-.109c.276-.275.428-.643.428-1.034 0-.39-.152-.757-.428-1.033l-2.085-2.086a1.453 1.453 0 0 0-1.035-.427c-.391 0-.758.151-1.033.427l-1.826 1.825a.75.75 0 0 1-1.06 0l-3.128-3.127a.75.75 0 1 1 1.06-1.06l2.597 2.596 1.296-1.294a2.939 2.939 0 0 1 2.094-.868c.792 0 1.536.308 2.095.867l2.085 2.086a2.94 2.94 0 0 1 .868 2.094 2.94 2.94 0 0 1-.823 2.049c-.273.369-1.745 2.177-4.507 2.438-.222.022-.449.032-.676.032Z"></path>
        </g>
        <defs>
          <clipPath id="PhoneSvg_svg__a">
            <path fill="#fff" d="M0 0h24v24H0z"></path>
          </clipPath>
        </defs>
      </svg>
      +358 987 789 23
    </p>
    <div class="footer-socials my-2 mx-lg-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="none"
        viewBox="0 0 32 32"
        style="
          height: 30px;
          width: 30px;
          cursor: pointer;
          border-style: solid;
          border-color: #fff;
          border-width: 1px;
          border-radius: 50%;
          margin: 0rem 0.25rem 0rem 0rem;
        ">
        <path
          fill="#fff"
          d="M17.333 13.333v-1.587c0-.717.159-1.08 1.271-1.08H20V8h-2.33c-2.853 0-3.795 1.308-3.795 3.554v1.78H12V16h1.875v8h3.458v-8h2.35L20 13.333h-2.667Z"></path>
        <rect
          width="31"
          height="31"
          x="0.5"
          y="0.5"
          stroke="currentColor"
          rx="15.5"></rect>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        fill="none"
        viewBox="0 0 32 32"
        style="
          height: 30px;
          width: 30px;
          cursor: pointer;
          border-style: solid;
          border-color: #fff;
          border-width: 1px;
          border-radius: 50%;
          margin: 0rem 0rem 0rem 0.25rem;
        ">
        <path fill="#fff" d="m12 24 12.8-8L12 8v16Z"></path>
        <rect
          width="31"
          height="31"
          x="0.5"
          y="0.5"
          stroke="currentColor"
          rx="15.5"></rect>
      </svg>
    </div>
    <p class="copyright m-0 mx-lg-2 text-white my-2">
      &copy;2023 | Calvary Chapel of Turku
    </p>
  </div>
</footer>
