<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/about.css" />
    <title>Calvary Chapel</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')%>

    <!-- MAIN -->
    <main class="pt-4 pt-xxs-5">
      <section class="hero">
        <div
          class="hero-container container d-flex flex-row justify-content-center align-items-center">
          <h1 class="hero-text text-white text-center">
            ABOUT CALVARY CHAPEL TURKU
          </h1>
        </div>
      </section>

      <section class="about-nav py-3">
        <div class="about-nav-container container overflow-auto">
          <div
            class="nav-container w-100 d-flex flex-row justify-content-center gap-5 py-3">
            <a href="/about?view=about" class="color text-primary"
              ><div
                class="history-of-cct text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 31 31"
                  style="height: 25px; width: 25px; margin-right: 12px">
                  <g fill="currentColor" clip-path="url(#NoteSvgDyn_svg__a)">
                    <path
                      d="M12.325 12.805c1.468 0 2.937.007 4.406-.005.322-.003.42.076.416.335-.012.736 0 .736-.9.736h-8.3c-.44 0-.44 0-.442-.355-.003-.474.294-.71.892-.71h3.928Z"></path>
                    <path
                      d="M24.609 5.708c.302-.329.595-.667.91-.984 1.216-1.226 2.44-2.445 3.66-3.666.124-.123.248-.247.367-.373.182-.194.404-.223.641-.144.244.081.305.282.305.517-.003 1.555.026 3.111-.014 4.665-.043 1.694-.5 3.293-1.235 4.818-.73 1.512-1.775 2.78-2.977 3.932-.528.506-1.033 1.034-1.554 1.547-.16.156-.215.33-.215.555.006 4.4.005 8.8.005 13.2 0 .583-.133.715-.72.715-6.746 0-13.491-.012-20.236.01-1.496.006-2.821-1.147-3.012-2.53a3.266 3.266 0 0 1-.027-.447c-.002-7.686-.003-15.37 0-23.056a2.952 2.952 0 0 1 2.966-2.963c6.804-.005 13.607-.003 20.41-.002.454 0 .618.164.619.615V5.63l.106.076v.001Zm-1.185 11.633c-.078.066-.145.115-.203.173-.418.416-.841.827-1.248 1.253a.76.76 0 0 1-.598.246c-1.248-.006-2.495.006-3.743-.01-.295-.004-.496.098-.695.3-.702.72-1.413 1.43-2.13 2.134-.445.436-.453.428-.904.016-.307-.28-.304-.334-.008-.626.79-.783 1.576-1.571 2.368-2.353a.71.71 0 0 0 .219-.554c-.01-1.28-.003-2.562-.007-3.843a.71.71 0 0 1 .23-.55c.609-.59 1.203-1.194 1.802-1.793 1.567-1.568 3.134-3.137 4.705-4.702a.79.79 0 0 0 .26-.612c-.015-1.181-.007-2.363-.007-3.544 0-.335 0-.336-.328-.337h-4.292L3.772 2.54c-.438 0-.863.07-1.247.297-.72.429-.98 1.106-.98 1.9-.006 3.976-.003 7.952-.003 11.928 0 2.728 0 5.457.002 8.185 0 .079-.04.183.047.23.073.037.138-.041.196-.082.543-.383 1.143-.54 1.807-.539 6.505.006 13.01.004 19.515.003.355 0 .356 0 .356-.358v-6.489c0-.08.02-.165-.04-.273v-.001Zm-10.04 12.112h9.605c.52 0 .475.05.476-.463.002-1.031 0-2.062 0-3.093 0-.265-.131-.397-.394-.397-6.412 0-12.824 0-19.236-.002-.269 0-.53.033-.79.092-1.265.288-1.884 1.822-1.187 2.915.44.69 1.097.944 1.87.946 3.218.008 6.436.003 9.655.003Zm4.132-12.343.06.036c.321-.32.645-.638.966-.96 1.12-1.12 2.24-2.243 3.362-3.364 1.132-1.133 2.268-2.264 3.397-3.4.335-.338.327-.345.665.007.052.054.108.104.161.156.177.175.182.35.015.526l-.052.053c-.96.955-1.919 1.909-2.876 2.865-1.398 1.397-2.797 2.792-4.19 4.194-.228.23-.487.436-.699.75h.294c.757 0 1.514-.012 2.27.006.269.007.452-.09.632-.271 1.362-1.373 2.717-2.755 4.1-4.107 1.147-1.12 2.129-2.35 2.791-3.82.517-1.147.84-2.343.96-3.595.117-1.21.079-2.425.082-3.638 0-.054.024-.118-.052-.168-.06.05-.128.098-.185.155-1.701 1.704-3.4 3.41-5.102 5.113-2.12 2.119-4.244 4.234-6.362 6.354-.102.102-.236.195-.236.367v2.741h-.001Z"></path>
                    <path
                      d="M11.757 15.976c1.147 0 2.294.007 3.441-.005.252-.002.329.075.325.326-.01.716 0 .717-.702.717H8.337c-.342 0-.342-.001-.344-.346-.003-.461.23-.692.697-.692h3.067ZM13.396 9.591c1.795 0 3.59.007 5.385-.005.394-.003.515.076.51.335-.016.736 0 .736-1.1.736H8.043c-.536 0-.536 0-.54-.355-.003-.474.36-.71 1.092-.71h4.8ZM13.396 6.377c1.795 0 3.59.006 5.385-.006.394-.002.515.077.51.336-.016.735 0 .736-1.1.736H8.043c-.536 0-.536-.001-.54-.356-.003-.474.36-.71 1.092-.71h4.8ZM11.255 19.51c-.99 0-1.978-.006-2.967.004-.229.002-.3-.073-.3-.3.003-.741-.005-.741.727-.741h5.46c.344 0 .344 0 .345.345.003.46-.23.691-.697.691h-2.568ZM10.49 22.005c-.73 0-1.462-.009-2.193.005-.244.004-.33-.082-.307-.317.014-.14.012-.283 0-.423-.019-.22.052-.308.29-.307 1.488.01 2.975.009 4.462 0 .222 0 .3.077.282.29a2.79 2.79 0 0 0 0 .474c.02.226-.08.284-.291.281-.748-.01-1.495-.003-2.244-.003h.001Z"></path>
                  </g>
                  <defs>
                    <clipPath id="NoteSvgDyn_svg__a">
                      <path
                        fill="currentColor"
                        d="M.505.5H30.5v30H.505z"></path>
                    </clipPath>
                  </defs></svg
                >History of CCT
              </div></a
            >

            <a href="/about?view=statement" class="color text-primary"
              ><div
                class="statement text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 30 30"
                  style="height: 25px; width: 25px; margin-right: 12px">
                  <g fill="currentColor" clip-path="url(#FaithSvgDyn_svg__a)">
                    <path
                      d="M8.656 20.321c.25-.474.483-.904.704-1.34.563-1.113 1.125-2.226 1.604-3.379.474-1.139.758-2.32.904-3.543.213-1.8.234-3.608.285-5.415.01-.39.016-.78.022-1.17.012-.812.684-1.476 1.495-1.5.457-.014.87.088 1.214.393.123.11.188.029.276-.038.708-.539 1.674-.482 2.256.14.259.277.404.606.412.992.024 1.193.04 2.386.082 3.578.048 1.363.142 2.724.377 4.07.222 1.272.71 2.45 1.245 3.614.528 1.148 1.122 2.262 1.702 3.384.03.06.042.135.132.172.056-.1.11-.2.167-.3.18-.318.398-.406.741-.26.424.178.839.378 1.255.573.904.424 1.805.85 2.709 1.274l2.817 1.318c.22.102.437.206.656.307.2.093.286.25.285.468 0 .219-.095.367-.291.463-1.086.53-2.17 1.063-3.255 1.596-1.035.509-2.069 1.02-3.104 1.528-1.183.58-2.367 1.156-3.55 1.735l-1.68.821c-.098.048-.194.102-.296.14-.209.079-.421.088-.593-.075-.172-.164-.175-.38-.094-.587.088-.225.192-.444.301-.659.073-.143.058-.22-.107-.276-.97-.332-1.698-.964-2.233-1.829-.073-.118-.11-.124-.187-.001-.537.86-1.261 1.498-2.232 1.83-.164.056-.182.134-.107.277.097.187.181.38.268.572.102.228.133.459-.054.654-.189.198-.425.18-.65.075-.757-.35-1.51-.707-2.266-1.062-1.431-.674-2.864-1.346-4.296-2.02l-3.659-1.724c-.5-.236-1-.474-1.503-.705-.225-.104-.401-.228-.405-.512-.004-.282.158-.415.384-.526 1.677-.831 3.351-1.666 5.025-2.502.712-.355 1.421-.715 2.132-1.072.076-.038.155-.074.236-.102.299-.103.515-.022.67.25.063.107.12.216.205.373Zm6.832-.506c0 1.412-.002 2.824 0 4.235 0 .187.013.374.035.56.157 1.377.888 2.31 2.18 2.81.205.078.301.027.391-.172.351-.773.72-1.539 1.085-2.306.491-1.035.977-2.073 1.48-3.102.118-.243.106-.439-.017-.676-.661-1.273-1.34-2.537-1.947-3.836-.488-1.046-.952-2.103-1.233-3.227-.287-1.144-.411-2.316-.49-3.49a61.066 61.066 0 0 1-.116-4.746 1.464 1.464 0 0 0-.055-.438c-.1-.339-.342-.497-.685-.441-.376.062-.625.38-.626.842-.004 2.683 0 5.366-.005 8.05 0 .153.056.218.2.258 1.005.284 1.64 1.063 1.753 2.106.114 1.053.247 2.104.372 3.156.05.417.112.834.143 1.253a.505.505 0 0 1-.462.549c-.24.021-.487-.19-.531-.46-.071-.43-.11-.865-.169-1.297-.14-1.034-.24-2.073-.362-3.11-.053-.457-.246-.833-.652-1.078-.073-.044-.157-.11-.237-.073-.095.043-.05.153-.05.233-.003 1.466-.002 2.933-.002 4.399v.001Zm-.973.025v-4.445c0-.248-.053-.278-.267-.153-.35.205-.576.507-.638.906-.09.593-.158 1.189-.23 1.784-.114.928-.22 1.856-.335 2.784-.036.29-.281.504-.532.483-.28-.024-.478-.257-.465-.57.014-.32.078-.634.118-.95.144-1.152.276-2.305.401-3.459.112-1.025.755-1.807 1.748-2.082.16-.045.204-.125.204-.281-.004-2.667-.004-5.335-.003-8.002 0-.201-.057-.386-.153-.558-.124-.225-.415-.353-.682-.313-.292.045-.427.172-.491.484-.026.121-.04.247-.04.37-.002 1.45-.013 2.9-.1 4.349-.075 1.239-.19 2.47-.458 3.683-.305 1.38-.892 2.658-1.505 3.92-.575 1.184-1.19 2.349-1.793 3.52a.381.381 0 0 0-.01.375c.315.652.625 1.307.934 1.963.575 1.22 1.15 2.44 1.721 3.66.065.139.14.186.29.132.416-.147.801-.342 1.138-.632.813-.703 1.137-1.62 1.145-2.663.012-1.435.003-2.87.004-4.305Zm-8.182 2.927a.425.425 0 0 0-.41.422.425.425 0 0 0 .415.416.426.426 0 0 0 .423-.433.426.426 0 0 0-.428-.405Zm17.332 0a.425.425 0 0 0-.423.408.436.436 0 0 0 .403.43c.23.011.436-.186.436-.419a.435.435 0 0 0-.416-.42ZM11.925 3.602c.01.204-.091.353-.275.441-.185.089-.376.077-.524-.066-.414-.401-.826-.806-1.221-1.224-.192-.204-.161-.479.031-.675a.473.473 0 0 1 .676-.012c.411.393.808.802 1.21 1.204.089.09.107.204.103.332ZM18.075 3.587a.482.482 0 0 1 .16-.376c.37-.369.735-.742 1.109-1.107.225-.22.51-.228.712-.035.216.207.228.496.004.728-.379.392-.767.775-1.157 1.157a.46.46 0 0 1-.54.095.446.446 0 0 1-.288-.463v.001ZM9.154 7.654c-.264 0-.529.003-.793-.001-.318-.006-.53-.208-.529-.498 0-.285.218-.497.53-.5a85.205 85.205 0 0 1 1.585 0c.298.003.514.215.52.487.005.285-.213.504-.52.51-.264.006-.528.001-.793.001ZM20.829 7.654c-.257 0-.514.003-.77-.002-.316-.006-.527-.212-.524-.503.003-.284.221-.491.535-.494a96.424 96.424 0 0 1 1.562 0c.314.002.535.21.537.493.003.293-.22.5-.548.505-.264.004-.528.001-.793 0ZM15.486 1.304c0 .265.005.53 0 .794-.007.323-.186.506-.486.509-.296.002-.48-.183-.483-.506a80.172 80.172 0 0 1 0-1.611c.004-.328.176-.493.492-.49.298.003.468.173.476.486.006.273 0 .545 0 .818h.001Z"></path>
                  </g>
                  <defs>
                    <clipPath id="FaithSvgDyn_svg__a">
                      <path fill="#fff" d="M.003 0h29.994v30H.003z"></path>
                    </clipPath>
                  </defs></svg
                >Statement of Faith
              </div></a
            >

            <a href="" class="color text-primary"
              ><div
                class="leadership text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 33 32"
                  style="height: 25px; width: 25px; margin-right: 12px">
                  <g clip-path="url(#LeadershipSvgDyn_svg__a)">
                    <path
                      fill="currentColor"
                      d="M27.005 20.807c-1.72 0-3.44.003-5.16-.003a.563.563 0 0 0-.46.207c-1.46 1.63-2.926 3.255-4.387 4.885-.163.182-.361.234-.595.233-1.525-.003-3.05.002-4.575-.006-.223 0-.375.056-.514.245-.874 1.183-1.768 2.352-2.64 3.536-.21.287-.45.482-.802.56-1.452.322-2.907.636-4.352.99-.659.162-1.33.271-1.977.5-.26.092-.58.018-.872.016-.07 0-.107-.043-.128-.111-.154-.477.038-.889.522-1.008 1.092-.268 2.19-.51 3.286-.764 1.044-.242 2.087-.487 3.132-.724a.51.51 0 0 0 .316-.216c.932-1.25 1.874-2.493 2.8-3.747.199-.268.424-.423.76-.377.264.035.364-.062.352-.338-.02-.469 0-.94-.009-1.409-.002-.137.074-.315-.134-.386-.255-.086-.547-.017-.669.166-.329.493-.683.974-.978 1.488-.685 1.192-1.656 2.133-2.623 3.082-.48.47-.955.948-1.433 1.421-.378.375-.675.373-1.045.001-.462-.463-.927-.925-1.39-1.388-.322-.322-.324-.657-.007-.974.809-.806 1.622-1.608 2.42-2.424.268-.273.415-.637.619-.958.261-.411.501-.836.757-1.25.1-.163.145-.3.013-.48-.597-.82-.676-1.707-.313-2.645.453-1.173.898-2.35 1.356-3.521.085-.214.068-.36-.092-.545-1.21-1.399-.91-3.633.614-4.688 1.99-1.376 4.667-.252 5.047 2.135.1.627.052 1.258-.252 1.84-.088.17-.059.236.144.234.594-.008 1.188-.01 1.782 0 .209.005.327-.122.45-.243.63-.623 1.282-1.225 1.872-1.883.751-.837 1.67-1.445 2.597-2.05.423-.276.842-.558 1.264-.834a.497.497 0 0 0 .22-.29c.246-.86.49-1.72.742-2.578.058-.197.032-.3-.175-.415-1.18-.654-1.797-1.652-1.735-3.022.057-1.266.685-2.188 1.808-2.735a3.196 3.196 0 0 1 4.58 2.378c.096.62.059 1.24-.228 1.819-.066.132-.05.217.061.322a12.362 12.362 0 0 1 3.204 4.827c.243.658.416 1.338.521 2.03.068.45-.082.879-.242 1.293a.67.67 0 0 0-.03.408c.42 2.01 1.163 3.921 1.802 5.864.131.4.31.766.276 1.207-.019.254-.089.332-.34.33-1.72-.008-3.44-.004-5.16-.004ZM15.47 22.862h.001c0 .63-.001 1.259.001 1.888 0 .093-.024.2.091.256.196.095.707-.01.859-.18.235-.264.467-.532.705-.795 1.083-1.206 2.17-2.407 3.252-3.616.361-.403.686-.854 1.337-.718.142.03.192-.082.217-.211.269-1.364.538-2.727.813-4.09.063-.31.095-.635.302-.897.285-.362.574-.721.86-1.081.305-.381.607-.763.914-1.142.136-.169.095-.364-.004-.493-.102-.132-.216.043-.309.1a225.65 225.65 0 0 0-2.774 1.73c-.403.256-.872.437-1.19.794a117.354 117.354 0 0 0-2.766 3.228c-.285.344-.591.565-1.042.582-.274.01-.546.047-.82.072l-3.04.27c-.1.009-.166.043-.198.143a5.181 5.181 0 0 1-.128.35c-.06.15-.026.22.15.247.49.073.978.16 1.465.253.766.147 1.297.78 1.303 1.556.006.584.002 1.17.002 1.755h-.001Zm8.597-3.16c.266 0 .532-.003.798 0 .128.002.19-.045.207-.181.065-.554.135-1.107.211-1.66.088-.64.117-1.287.251-1.922a.718.718 0 0 1 .286-.458c1.045-.777 2.09-1.554 3.122-2.35.528-.405.7-.967.562-1.611a11.06 11.06 0 0 0-.937-2.676 11.205 11.205 0 0 0-2.232-3.021c-.144-.14-.247-.163-.421-.029-.534.41-1.136.654-1.82.645-.18-.002-.245.086-.288.242-.236.835-.503 1.663-.708 2.505-.131.542-.38.935-.87 1.226-.707.42-1.376.906-2.067 1.353-.193.125-.245.244-.114.45.115.177.209.372.287.569.085.212.167.256.382.118 1.045-.669 2.102-1.32 3.156-1.973a.781.781 0 0 0 .29-.335c.256-.517.52-1.029.77-1.549.095-.198.213-.234.4-.132.186.102.378.193.569.287.125.063.166.152.1.282-.061.118-.112.242-.18.356a.883.883 0 0 0-.097.736c.134.487.244.98.36 1.471.053.224.044.442-.108.632-.383.476-.76.957-1.152 1.427-.505.606-.96 1.204-1.066 2.05-.14 1.104-.415 2.19-.645 3.282-.05.232.03.28.237.27.239-.013.479-.004.718-.005h-.001ZM12.81 23.563c0 .407.003.815 0 1.223-.001.147.04.237.208.236.381-.005.763-.004 1.144 0 .148 0 .204-.07.204-.213-.003-1.196.003-2.393-.007-3.59-.002-.324-.176-.486-.505-.544-.723-.13-1.448-.25-2.17-.39-.42-.082-.585-.362-.48-.782.052-.205.125-.406.19-.608.026-.083.087-.18-.05-.213-.152-.038-.15-.152-.163-.268-.017-.167-.02-.338-.06-.5-.066-.257.034-.362.28-.383.574-.05 1.147-.106 1.72-.158 1.154-.106 2.309-.211 3.464-.314a.403.403 0 0 0 .294-.15c.707-.83 1.421-1.653 2.126-2.484.58-.685.575-.689.13-1.482-.005-.008-.01-.015-.013-.023-.07-.146-.14-.18-.274-.045-.778.786-1.57 1.559-2.343 2.35a.811.811 0 0 1-.633.264c-1.02-.006-2.038 0-3.058-.004a1.138 1.138 0 0 0-.58.144c-.846.466-1.738.508-2.649.222-.177-.056-.255-.024-.316.15-.123.35-.266.694-.4 1.04-.3.778-.607 1.552-.896 2.332-.2.54-.163 1.06.188 1.54.338.465.828.607 1.365.654.926.08 1.857.115 2.776.26.365.058.503.22.507.593.005.381 0 .762 0 1.143ZM12.758 12.8c-.098-1.245-.889-2.077-2.102-2.07-1.248.008-2.075.867-2.07 2.083.005 1.244.868 2.075 2.082 2.07 1.243-.004 2.007-.875 2.09-2.083ZM23.963 1.151c-1.159.002-2.09.922-2.075 2.08.016 1.17.836 2.081 2.076 2.076 1.23-.005 2.072-.852 2.075-2.078.004-1.24-.905-2.045-2.077-2.078ZM8.489 22.535c-.19-.053-.244.025-.297.114-.175.297-.352.593-.529.89-.44.734-.856 1.48-1.523 2.054-.467.404-.88.87-1.318 1.306-.25.25-.25.299.008.551l.244.244c.18.181.363.178.548-.01.33-.334.67-.656.99-.998.624-.67 1.362-1.236 1.853-2.032.353-.572.744-1.121 1.12-1.679.108-.16.1-.25-.12-.274-.352-.037-.707-.06-.976-.166Zm21.9-2.834c.168 0 .336-.006.504.002.192.008.25-.04.18-.246-.44-1.31-.862-2.623-1.296-3.933-.115-.346-.164-.707-.262-1.056-.05-.181-.136-.233-.3-.102-.242.193-.492.376-.74.562-.098.074-.163.167-.136.295.202.95.292 1.926.677 2.832.138.326.275.652.403.983.256.664.253.665.97.664Zm-3.063 0c.274 0 .55-.011.824.004.243.013.257-.065.181-.275-.226-.625-.541-1.217-.698-1.864-.12-.49-.216-.986-.305-1.482-.041-.228-.118-.206-.275-.1-.302.204-.533.436-.482.84.006.05-.014.104-.02.157-.1.825-.197 1.651-.303 2.476-.025.191.038.254.227.247.283-.01.567-.002.85-.002Z"></path>
                  </g>
                  <defs>
                    <clipPath id="LeadershipSvgDyn_svg__a">
                      <path fill="#fff" d="M.49 0h32.02v32H.49z"></path>
                    </clipPath>
                  </defs></svg
                >Leadership
              </div></a
            >
          </div>
        </div>
      </section>

      <section class="about-container py-3">
        <div class="statement-section d-flex flex-column align-items-center justify-content-center gap-4 py-5">
          <h4 class="about-us-heading text-center text-white fw-bolder mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="none"
              viewBox="0 0 30 30"
              style="height: 28px; width: 28px; margin: 0rem 0.5rem 0rem 0rem">
              <g fill="currentColor" clip-path="url(#FaithSvgDyn_svg__a)">
                <path
                  d="M8.656 20.321c.25-.474.483-.904.704-1.34.563-1.113 1.125-2.226 1.604-3.379.474-1.139.758-2.32.904-3.543.213-1.8.234-3.608.285-5.415.01-.39.016-.78.022-1.17.012-.812.684-1.476 1.495-1.5.457-.014.87.088 1.214.393.123.11.188.029.276-.038.708-.539 1.674-.482 2.256.14.259.277.404.606.412.992.024 1.193.04 2.386.082 3.578.048 1.363.142 2.724.377 4.07.222 1.272.71 2.45 1.245 3.614.528 1.148 1.122 2.262 1.702 3.384.03.06.042.135.132.172.056-.1.11-.2.167-.3.18-.318.398-.406.741-.26.424.178.839.378 1.255.573.904.424 1.805.85 2.709 1.274l2.817 1.318c.22.102.437.206.656.307.2.093.286.25.285.468 0 .219-.095.367-.291.463-1.086.53-2.17 1.063-3.255 1.596-1.035.509-2.069 1.02-3.104 1.528-1.183.58-2.367 1.156-3.55 1.735l-1.68.821c-.098.048-.194.102-.296.14-.209.079-.421.088-.593-.075-.172-.164-.175-.38-.094-.587.088-.225.192-.444.301-.659.073-.143.058-.22-.107-.276-.97-.332-1.698-.964-2.233-1.829-.073-.118-.11-.124-.187-.001-.537.86-1.261 1.498-2.232 1.83-.164.056-.182.134-.107.277.097.187.181.38.268.572.102.228.133.459-.054.654-.189.198-.425.18-.65.075-.757-.35-1.51-.707-2.266-1.062-1.431-.674-2.864-1.346-4.296-2.02l-3.659-1.724c-.5-.236-1-.474-1.503-.705-.225-.104-.401-.228-.405-.512-.004-.282.158-.415.384-.526 1.677-.831 3.351-1.666 5.025-2.502.712-.355 1.421-.715 2.132-1.072.076-.038.155-.074.236-.102.299-.103.515-.022.67.25.063.107.12.216.205.373Zm6.832-.506c0 1.412-.002 2.824 0 4.235 0 .187.013.374.035.56.157 1.377.888 2.31 2.18 2.81.205.078.301.027.391-.172.351-.773.72-1.539 1.085-2.306.491-1.035.977-2.073 1.48-3.102.118-.243.106-.439-.017-.676-.661-1.273-1.34-2.537-1.947-3.836-.488-1.046-.952-2.103-1.233-3.227-.287-1.144-.411-2.316-.49-3.49a61.066 61.066 0 0 1-.116-4.746 1.464 1.464 0 0 0-.055-.438c-.1-.339-.342-.497-.685-.441-.376.062-.625.38-.626.842-.004 2.683 0 5.366-.005 8.05 0 .153.056.218.2.258 1.005.284 1.64 1.063 1.753 2.106.114 1.053.247 2.104.372 3.156.05.417.112.834.143 1.253a.505.505 0 0 1-.462.549c-.24.021-.487-.19-.531-.46-.071-.43-.11-.865-.169-1.297-.14-1.034-.24-2.073-.362-3.11-.053-.457-.246-.833-.652-1.078-.073-.044-.157-.11-.237-.073-.095.043-.05.153-.05.233-.003 1.466-.002 2.933-.002 4.399v.001Zm-.973.025v-4.445c0-.248-.053-.278-.267-.153-.35.205-.576.507-.638.906-.09.593-.158 1.189-.23 1.784-.114.928-.22 1.856-.335 2.784-.036.29-.281.504-.532.483-.28-.024-.478-.257-.465-.57.014-.32.078-.634.118-.95.144-1.152.276-2.305.401-3.459.112-1.025.755-1.807 1.748-2.082.16-.045.204-.125.204-.281-.004-2.667-.004-5.335-.003-8.002 0-.201-.057-.386-.153-.558-.124-.225-.415-.353-.682-.313-.292.045-.427.172-.491.484-.026.121-.04.247-.04.37-.002 1.45-.013 2.9-.1 4.349-.075 1.239-.19 2.47-.458 3.683-.305 1.38-.892 2.658-1.505 3.92-.575 1.184-1.19 2.349-1.793 3.52a.381.381 0 0 0-.01.375c.315.652.625 1.307.934 1.963.575 1.22 1.15 2.44 1.721 3.66.065.139.14.186.29.132.416-.147.801-.342 1.138-.632.813-.703 1.137-1.62 1.145-2.663.012-1.435.003-2.87.004-4.305Zm-8.182 2.927a.425.425 0 0 0-.41.422.425.425 0 0 0 .415.416.426.426 0 0 0 .423-.433.426.426 0 0 0-.428-.405Zm17.332 0a.425.425 0 0 0-.423.408.436.436 0 0 0 .403.43c.23.011.436-.186.436-.419a.435.435 0 0 0-.416-.42ZM11.925 3.602c.01.204-.091.353-.275.441-.185.089-.376.077-.524-.066-.414-.401-.826-.806-1.221-1.224-.192-.204-.161-.479.031-.675a.473.473 0 0 1 .676-.012c.411.393.808.802 1.21 1.204.089.09.107.204.103.332ZM18.075 3.587a.482.482 0 0 1 .16-.376c.37-.369.735-.742 1.109-1.107.225-.22.51-.228.712-.035.216.207.228.496.004.728-.379.392-.767.775-1.157 1.157a.46.46 0 0 1-.54.095.446.446 0 0 1-.288-.463v.001ZM9.154 7.654c-.264 0-.529.003-.793-.001-.318-.006-.53-.208-.529-.498 0-.285.218-.497.53-.5a85.205 85.205 0 0 1 1.585 0c.298.003.514.215.52.487.005.285-.213.504-.52.51-.264.006-.528.001-.793.001ZM20.829 7.654c-.257 0-.514.003-.77-.002-.316-.006-.527-.212-.524-.503.003-.284.221-.491.535-.494a96.424 96.424 0 0 1 1.562 0c.314.002.535.21.537.493.003.293-.22.5-.548.505-.264.004-.528.001-.793 0ZM15.486 1.304c0 .265.005.53 0 .794-.007.323-.186.506-.486.509-.296.002-.48-.183-.483-.506a80.172 80.172 0 0 1 0-1.611c.004-.328.176-.493.492-.49.298.003.468.173.476.486.006.273 0 .545 0 .818h.001Z"></path>
              </g>
              <defs>
                <clipPath id="FaithSvgDyn_svg__a">
                  <path fill="#fff" d="M.003 0h29.994v30H.003z"></path>
                </clipPath>
              </defs></svg
            >WHAT WE BELEIVE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="none"
              viewBox="0 0 30 30"
              style="height: 28px; width: 28px; margin: 0rem 0rem 0rem 0.5rem">
              <g fill="currentColor" clip-path="url(#FaithSvgDyn_svg__a)">
                <path
                  d="M8.656 20.321c.25-.474.483-.904.704-1.34.563-1.113 1.125-2.226 1.604-3.379.474-1.139.758-2.32.904-3.543.213-1.8.234-3.608.285-5.415.01-.39.016-.78.022-1.17.012-.812.684-1.476 1.495-1.5.457-.014.87.088 1.214.393.123.11.188.029.276-.038.708-.539 1.674-.482 2.256.14.259.277.404.606.412.992.024 1.193.04 2.386.082 3.578.048 1.363.142 2.724.377 4.07.222 1.272.71 2.45 1.245 3.614.528 1.148 1.122 2.262 1.702 3.384.03.06.042.135.132.172.056-.1.11-.2.167-.3.18-.318.398-.406.741-.26.424.178.839.378 1.255.573.904.424 1.805.85 2.709 1.274l2.817 1.318c.22.102.437.206.656.307.2.093.286.25.285.468 0 .219-.095.367-.291.463-1.086.53-2.17 1.063-3.255 1.596-1.035.509-2.069 1.02-3.104 1.528-1.183.58-2.367 1.156-3.55 1.735l-1.68.821c-.098.048-.194.102-.296.14-.209.079-.421.088-.593-.075-.172-.164-.175-.38-.094-.587.088-.225.192-.444.301-.659.073-.143.058-.22-.107-.276-.97-.332-1.698-.964-2.233-1.829-.073-.118-.11-.124-.187-.001-.537.86-1.261 1.498-2.232 1.83-.164.056-.182.134-.107.277.097.187.181.38.268.572.102.228.133.459-.054.654-.189.198-.425.18-.65.075-.757-.35-1.51-.707-2.266-1.062-1.431-.674-2.864-1.346-4.296-2.02l-3.659-1.724c-.5-.236-1-.474-1.503-.705-.225-.104-.401-.228-.405-.512-.004-.282.158-.415.384-.526 1.677-.831 3.351-1.666 5.025-2.502.712-.355 1.421-.715 2.132-1.072.076-.038.155-.074.236-.102.299-.103.515-.022.67.25.063.107.12.216.205.373Zm6.832-.506c0 1.412-.002 2.824 0 4.235 0 .187.013.374.035.56.157 1.377.888 2.31 2.18 2.81.205.078.301.027.391-.172.351-.773.72-1.539 1.085-2.306.491-1.035.977-2.073 1.48-3.102.118-.243.106-.439-.017-.676-.661-1.273-1.34-2.537-1.947-3.836-.488-1.046-.952-2.103-1.233-3.227-.287-1.144-.411-2.316-.49-3.49a61.066 61.066 0 0 1-.116-4.746 1.464 1.464 0 0 0-.055-.438c-.1-.339-.342-.497-.685-.441-.376.062-.625.38-.626.842-.004 2.683 0 5.366-.005 8.05 0 .153.056.218.2.258 1.005.284 1.64 1.063 1.753 2.106.114 1.053.247 2.104.372 3.156.05.417.112.834.143 1.253a.505.505 0 0 1-.462.549c-.24.021-.487-.19-.531-.46-.071-.43-.11-.865-.169-1.297-.14-1.034-.24-2.073-.362-3.11-.053-.457-.246-.833-.652-1.078-.073-.044-.157-.11-.237-.073-.095.043-.05.153-.05.233-.003 1.466-.002 2.933-.002 4.399v.001Zm-.973.025v-4.445c0-.248-.053-.278-.267-.153-.35.205-.576.507-.638.906-.09.593-.158 1.189-.23 1.784-.114.928-.22 1.856-.335 2.784-.036.29-.281.504-.532.483-.28-.024-.478-.257-.465-.57.014-.32.078-.634.118-.95.144-1.152.276-2.305.401-3.459.112-1.025.755-1.807 1.748-2.082.16-.045.204-.125.204-.281-.004-2.667-.004-5.335-.003-8.002 0-.201-.057-.386-.153-.558-.124-.225-.415-.353-.682-.313-.292.045-.427.172-.491.484-.026.121-.04.247-.04.37-.002 1.45-.013 2.9-.1 4.349-.075 1.239-.19 2.47-.458 3.683-.305 1.38-.892 2.658-1.505 3.92-.575 1.184-1.19 2.349-1.793 3.52a.381.381 0 0 0-.01.375c.315.652.625 1.307.934 1.963.575 1.22 1.15 2.44 1.721 3.66.065.139.14.186.29.132.416-.147.801-.342 1.138-.632.813-.703 1.137-1.62 1.145-2.663.012-1.435.003-2.87.004-4.305Zm-8.182 2.927a.425.425 0 0 0-.41.422.425.425 0 0 0 .415.416.426.426 0 0 0 .423-.433.426.426 0 0 0-.428-.405Zm17.332 0a.425.425 0 0 0-.423.408.436.436 0 0 0 .403.43c.23.011.436-.186.436-.419a.435.435 0 0 0-.416-.42ZM11.925 3.602c.01.204-.091.353-.275.441-.185.089-.376.077-.524-.066-.414-.401-.826-.806-1.221-1.224-.192-.204-.161-.479.031-.675a.473.473 0 0 1 .676-.012c.411.393.808.802 1.21 1.204.089.09.107.204.103.332ZM18.075 3.587a.482.482 0 0 1 .16-.376c.37-.369.735-.742 1.109-1.107.225-.22.51-.228.712-.035.216.207.228.496.004.728-.379.392-.767.775-1.157 1.157a.46.46 0 0 1-.54.095.446.446 0 0 1-.288-.463v.001ZM9.154 7.654c-.264 0-.529.003-.793-.001-.318-.006-.53-.208-.529-.498 0-.285.218-.497.53-.5a85.205 85.205 0 0 1 1.585 0c.298.003.514.215.52.487.005.285-.213.504-.52.51-.264.006-.528.001-.793.001ZM20.829 7.654c-.257 0-.514.003-.77-.002-.316-.006-.527-.212-.524-.503.003-.284.221-.491.535-.494a96.424 96.424 0 0 1 1.562 0c.314.002.535.21.537.493.003.293-.22.5-.548.505-.264.004-.528.001-.793 0ZM15.486 1.304c0 .265.005.53 0 .794-.007.323-.186.506-.486.509-.296.002-.48-.183-.483-.506a80.172 80.172 0 0 1 0-1.611c.004-.328.176-.493.492-.49.298.003.468.173.476.486.006.273 0 .545 0 .818h.001Z"></path>
              </g>
              <defs>
                <clipPath id="FaithSvgDyn_svg__a">
                  <path fill="#fff" d="M.003 0h29.994v30H.003z"></path>
                </clipPath>
              </defs>
            </svg>
          </h4>

          <div
            class="bible container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="bible-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >BIBLE
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="bible-text m-0">
              In the inerrancy of Scripture: That the Bible, Old and New
              Testaments, in the original autographs, is the inspired,
              infallible Word of God, a complete and final written revelation of
              God. We reject doctrinal viewpoints or spiritual phenomena which
              find their basis for practice in the church solely on experience.
              We look to the Word of God for the basis of all our faith and
              practice. <br/> &nbsp;&nbsp;&nbsp;&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp In the full historicity of the biblical record of
              primeval history, including the creation of the heavens and the
              earth in six literal days, the literal existence of Adam and Eve
              as the progenitors of all people, the literal fall in the Garden
              of Eden and resultant divine curse on creation, the worldwide
              cataclysmic deluge, and the origin of the nations and languages at
              the tower of Babel.
            </p>
          </div>

          <div
            class="God container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="God-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >GOD
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="God-text m-0">
              in one personal, Triune God, who manifests Himself in three separate persons: Father, Son and Holy Spirit. He is essentially Spirit, the creator of all, who is eternal, almighty, transcendent, sovereign, life, love, truth, wise, just, holy, pure, unchangeable and infallible in all things, yet relational and personal.
            </p>
          </div>

          <div
            class="Jesus container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="Jesus-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >JESUS
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="Jesus-text m-0">
              That Jesus Christ is fully God and fully human, possessing two distinct natures which are co-joined in one person; that He was miraculously conceived by the Holy Spirit, born of the virgin Mary, lived a sinless and miraculous life, provided for the atonement of our sins by His vicarious substitutionary death on the Cross, was physically resurrected by the power of the Holy Spirit and physically ascended to the right hand of God the Father in heaven. Who after His ascension, poured out His Holy Spirit on the believers in Jerusalem, enabling them to fulfill His command to preach the Gospel to the entire world; an empowerment and obligation all believers since have shared in. One day Jesus will return in similar manner as He ascended (Acts 1:11; Matt 24:30).
            </p>
          </div>

          <div
            class="holy-spirit container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="holy-spirit-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >HOLY SPIRIT
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="holy-spirit-text m-0">
              The Holy Spirit is the third person of the Godhead, thus He is a personal being not an impersonal force. He seals, indwells, sanctifies, baptizes, teaches, empowers, reveals, and guides the believer into all truth. The Holy Spirit gives gifts to whom He wills, which are valid for today, and ought to be exercised within scriptural guidelines. We as believers are to earnestly desire the best gifts, seeking to exercise them in love that the whole Body of Christ might be edified. We believe that love is more important than the most spectacular gifts, and without this love all exercise of spiritual gifts is worthless.
            </p>
          </div>

          <div
            class="man-sin container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="man-sin-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >MAN/SIN
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="man-sin-text m-0">
              That all people are by nature separated from God and are responsible for their own sin, but that salvation, redemption, and forgiveness are freely offered to all by the grace of our Lord Jesus Christ. When a person repents of their sin and places their faith in Jesus Christ as the Savior and Lord, trusting Him to save and submitting to His Lordship, that person is immediately born again and sealed by the Holy Spirit, all his/her sins are forgiven, and that person becomes a child of God
            </p>
          </div>

          <div
            class="salvation container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="salvation-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >SALVATION
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="salvation-text m-0">
              Salvation is initiated, attained, and procured by God through the death of Christ on the cross for our sins and His resurrection from the dead. The salvation Christ offers is available to all, and is received freely by grace alone and through faith in Christ alone, apart from good works, thereby justifying, sanctifying and eventually glorifying the believer
            </p>
          </div>

          <div
            class="church container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="church-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >CHURCH
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="church-text m-0">
              The universal Church is an organic body composed of all believers, both living and dead, who have been sealed by the Holy Spirit through faith in Jesus Christ for salvation. The church has the responsibility to worship the Lord and share the good news of Christ’s death and resurrection to the world, making disciples, baptizing believers, and teaching them to observe sound doctrine and live a morally pure life. We believe church government should be simple rather than a complex bureaucracy, with the utmost dependence upon the Holy Spirit to lead, rather than on fleshly promotion or worldly wisdom. The Lord has given the church two ordinances which are to continue until He returns — believers baptism by immersion and Holy Communion. Water baptism is not necessary for salvation, and cannot remove sins, but is a picture of the salvation already received by the believer. We believe the only true basis of Christian fellowship is Christ’s sacrificial agape love, which is greater than any secondary differences we possess, and without which we have no right to claim ourselves Christians.
            </p>
          </div>
          
          <div
            class="end-times container d-flex flex-column align-items-center justify-content-center py-3">
            <h4 class="end-times-heading text-center text-primary fw-bolder mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0.5rem 0rem 0rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path></svg
              >END TIMES
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 18 25"
                style="
                  height: 23px;
                  width: 23px;
                  margin: 0rem 0rem 0rem 0.5rem;
                ">
                <path
                  fill="currentColor"
                  d="M9.786 24.5H8.07a1.716 1.716 0 0 1-1.714-1.714v-12H2.07A1.716 1.716 0 0 1 .357 9.07V7.357A1.716 1.716 0 0 1 2.07 5.643h4.286V2.214A1.716 1.716 0 0 1 8.07.5h1.715A1.716 1.716 0 0 1 11.5 2.214v3.429h4.286A1.716 1.716 0 0 1 17.5 7.357v1.714a1.717 1.717 0 0 1-1.714 1.715H11.5v12A1.717 1.717 0 0 1 9.786 24.5ZM2.07 7.357v1.714h6v13.715h1.715V9.07h6V7.357h-6V2.214H8.07v5.143h-6Z"></path>
              </svg>
            </h4>
            <p class="end-times-text m-0">
              We await the pre-tribulational rapture of the church, and we believe that at the Second Coming of Christ He will visibly set up his throne on earth and personally rule with His saints for 1000 years. This motivates us to holy living, heartfelt worship, committed service, diligent study of God’s Word, regular fellowship, and participation in baptism by immersion and in Holy Communion. We believe that the nation of Israel still has a special place in God’s plan and that all the promises of the God of Israel will be fulfilled
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs')%>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/route.js"></script>
  </body>
</html>
