<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Calvary Church</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="#" class="logo"><i class="fa-solid fa-church"></i></a
        ><span class="church-name">Calvary Chapel</span>
      </div>
      <ul class="nav-menu p-0 m-0">
        <li class="nav-items">
          <a href="#" class="item item1"
            ><i class="fa-solid fa-church"></i>Ministry<i class="fa-solid fa-caret-right"></i></a
          >
          <ul class="item1-dropdown">
               <li><a href=""><i class="fa-solid fa-person"></i>Men's Ministry</a></li>
               <li><a href=""><i class="fa-solid fa-person-dress"></i>Women's Ministry</a></li>
               <li><a href=""><i class="fa-solid fa-children"></i>Youth's Ministry</a></li>
               <li><a href=""><i class="fa-solid fa-child-reaching"></i>Children's Ministry</a></li>
          </ul>
        </li>
        <li class="nav-items">
          <a href="#" class="item item1"
            ><i class="fa-solid fa-bullhorn"></i>Resources<i class="fa-solid fa-caret-right"></i></a
          >
          <ul class="item2-dropdown">
               <li><a href=""><i class="fa-solid fa-book-bible"></i>Verse By Verse</a></li>
               <li><a href=""><i class="fa-solid fa-book-open"></i>Wednesday Services</a></li>
               <li><a href=""><i class="fa-solid fa-place-of-worship"></i>Sunday Services</a></li>
               <li><a href=""><i class="fa-solid fa-user-tie"></i>Guest Speakers</a></li>
               <li><a href=""><i class="fa-solid fa-users"></i>Character Studies</a></li>
               <li><a href=""><i class="fa-solid fa-clipboard-list"></i>Topical Studies</a></li>
               <li><a href=""><i class="fa-solid fa-people-group"></i>Conferences</a></li>
          </ul>
        </li>
        <li class="nav-items">
          <a href="#" class="item item1"
            ><i class="fa-regular fa-calendar-days"></i>Schedule<i class="fa-solid fa-caret-right"></i></a
          >
        </li>
        <li class="nav-items">
          <a href="#" class="item item1"
            ><i class="fa-solid fa-book-bible"></i>About<i class="fa-solid fa-caret-right"></i></a
          >
          <ul class="item3-dropdown">
               <li><a href=""><i class="fa-solid fa-landmark"></i>History of CC</a></li>
               <li><a href=""><i class="fa-solid fa-hands-praying"></i>Statement of Faith</a></li>
               <li><a href=""><i class="fa-solid fa-handshake-angle"></i>Leadership</a></li>
          </ul>
        </li>
        <li class="nav-items">
          <a href="#" class="item item1"
            ><i class="fa-regular fa-address-book"></i>Contact<i class="fa-solid fa-caret-right"></i></a
          >
        </li>
      </ul>
    </header>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
