<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Calvary Chapel</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')%>

    <!-- MAIN -->
    <main class="pt-4 pt-xxs-5">
      <section class="hero">
        <div
          class="hero-container container d-flex flex-row justify-content-center align-items-center">
          <h1 class="hero-text text-white text-center">
            WELCOME TO CALVARY CHAPEL
          </h1>
        </div>
      </section>
      <!-- start bootstrap here -->
      <section class="writeup">
        <div class="writeup-container container pb-4">
          <div
            class="services position-relative p-3 mx-xlg-auto d-flex flex-column flex-sm-row justify-content-center align-items-center gap-3">
            <p class="service-text m-0 p-0 text-primary">Our Weekly Services</p>
            <div class="sunday-service p-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 21 32"
                style="height: 35px; width: auto; color: black">
                <g fill="currentColor" clip-path="url(#PulpitDynSvg_svg__a)">
                  <path
                    d="M15.087 12.663c-.08-.547-.054-1.022.28-1.442.406-.513 1.105-.716 1.763-.493a1.48 1.48 0 0 1 .995 1.417c-.005.263.076.428.284.595.82.656 1.246 1.515 1.247 2.575 0 .404.001.404.395.408.458.004.617.156.619.604.002.795.002 1.59 0 2.385-.002.437-.162.597-.596.602-.194.002-.389 0-.583 0-.34.002-.342.002-.342.335v11.672c0 .544-.135.68-.67.68H2.518c-.524 0-.664-.139-.664-.659V19.696c0-.253-.124-.38-.372-.38-.195 0-.39.001-.584-.002-.4-.007-.564-.172-.565-.58-.003-.812-.004-1.624 0-2.436.001-.404.169-.572.571-.574.888-.003 1.776-.01 2.664.004.236.004.324-.077.36-.303.228-1.403 1.031-2.35 2.321-2.914.712-.31 1.416-.642 2.122-.967.246-.113.26-.218.036-.37a5.26 5.26 0 0 1-1.74-1.945 5.015 5.015 0 0 1-.262-.604.517.517 0 0 0-.357-.35c-.65-.218-1.037-.799-.977-1.462.04-.446.262-.801.651-1.031.15-.09.202-.195.205-.368.012-.667-.051-1.337.027-2.002.154-1.295.873-2.202 2.01-2.77 1.704-.851 3.444-.856 5.15-.017 1.215.598 1.958 1.597 2.229 2.942.121.605.09 1.212.081 1.82-.002.177.04.296.2.396.479.302.708.756.647 1.313-.068.615-.453 1.004-1.027 1.198a.45.45 0 0 0-.31.293 5.313 5.313 0 0 1-2.322 2.726c-.05.03-.124.043-.129.109-.006.075.073.082.124.105l2.481 1.136Zm-4.614 18.285h7.28c.338 0 .34-.002.34-.336V19.654c0-.338-.002-.34-.337-.34H3.246c-.338 0-.34.001-.34.337v10.933c0 .363.002.364.363.364h7.203Zm.054-14.171H7.838c-2.054 0-4.108.002-6.163-.004-.217 0-.307.061-.294.288.016.278.003.558.004.837 0 .24.122.361.365.362h10.196c2.452 0 4.903-.003 7.355.004.24 0 .337-.065.32-.314-.019-.27-.004-.54-.005-.812 0-.36 0-.362-.364-.362h-8.725Zm4.387-9.548c.082 0 .212-.043.243-.22.03-.17-.053-.28-.21-.327-.22-.065-.442-.112-.565-.344-.047-.089-.139-.027-.203.005a4.004 4.004 0 0 1-.708.274c-1.781.503-3.341.16-4.618-1.227-.138-.15-.24-.166-.404-.065a3.098 3.098 0 0 1-1.187.417c-.153.023-.23.086-.242.234-.034.39-.201.65-.625.704-.155.019-.266.135-.233.306.031.169.156.252.332.247.543-.017.675.076.81.61.278 1.097.915 1.928 1.867 2.52.597.37 1.238.601 1.951.385 1.5-.452 2.466-1.444 2.913-2.94.16-.534.234-.594.88-.58Zm-4.406 8.493h5.15c.335 0 .366-.041.286-.372-.194-.8-.675-1.372-1.409-1.725-.685-.33-1.382-.634-2.07-.96-.184-.086-.286-.07-.416.107-.785 1.068-2.28 1.095-3.054.047-.165-.224-.295-.231-.52-.125-.663.317-1.338.61-2 .927-.736.352-1.22.92-1.417 1.719-.085.345-.055.382.3.382h5.15ZM7.045 3.985c0 .142.007.294-.001.446-.012.194.075.232.247.19a2.85 2.85 0 0 0 1.077-.546c.447-.349.74-.287 1.024.198.302.518.729.906 1.275 1.156 1.033.472 2.047.368 3.064-.077.467-.204.662-.478.628-1.019-.08-1.259-.845-2.41-1.986-2.858-1.176-.463-2.355-.479-3.538-.035-.941.353-1.902 1.183-1.79 2.545Zm10.762 11.737c.22 0 .397-.006.575.001.166.007.225-.07.22-.23a3.241 3.241 0 0 0-.16-.895 2.035 2.035 0 0 0-.762-1.049c-.093-.067-.17-.087-.275-.025-.245.145-.512.22-.8.206-.199-.01-.194.068-.099.203.242.342.39.726.506 1.127.06.208-.011.489.168.617.18.129.444.025.628.045Zm-7.291-3.236c.316-.007.544-.17.7-.447.024-.04.046-.103.03-.14-.023-.055-.088-.02-.134-.012a3.084 3.084 0 0 1-1.202-.03c-.055-.011-.124-.039-.16.028-.03.058.008.115.038.165.16.274.39.434.728.436Zm5.603-.332c-.025.21.215.485.443.508.208.02.485-.228.502-.451.015-.2-.214-.46-.433-.492-.208-.03-.485.205-.512.436Z"></path>
                  <path
                    d="M9.973 25.524c0-.626-.007-1.252.003-1.878.004-.213-.073-.286-.28-.275-.245.013-.49.009-.736 0-.335-.011-.51-.202-.508-.534.003-.319.177-.503.5-.515.262-.008.525-.009.787-.001.177.005.24-.07.235-.242a14.086 14.086 0 0 1 0-.76c.01-.341.193-.52.522-.52.33 0 .518.176.528.513.008.254.01.508 0 .761-.007.19.072.255.256.248.253-.009.507-.007.76.001.337.012.512.201.507.535-.004.318-.177.502-.502.513a7.516 7.516 0 0 1-.735 0c-.228-.014-.288.079-.287.296.008 1.234.005 2.469.003 3.703 0 .355-.15.538-.447.568-.374.038-.6-.156-.604-.537-.006-.626-.002-1.252-.002-1.877Z"></path>
                </g>
                <defs>
                  <clipPath id="PulpitDynSvg_svg__a">
                    <path fill="#fff" d="M.33 0H20.67v32H.33z"></path>
                  </clipPath>
                </defs>
              </svg>
              <h6 class="service-header m-0 p-0">Sunday Service</h6>
              <p class="service-time m-0 p-0">11.00 am (every week)</p>
            </div>
            <div class="wednesday-service p-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 29 24"
                style="height: 30px; width: auto; color: black">
                <path
                  fill="currentColor"
                  d="M14.488 23.215H1.268c-.176 0-.356.018-.518-.08-.232-.145-.25-.373-.25-.614V6.701c0-.757.107-.863.877-.863.354 0 .708-.011 1.062.004.237.01.323-.086.3-.312-.009-.073-.004-.148 0-.223.013-.392.197-.581.591-.585.746-.006 1.491-.002 2.236-.002.83 0 1.659-.007 2.488.004.214.002.332-.064.435-.259.991-1.869 2.517-3.08 4.584-3.522 3.048-.65 5.91.721 7.423 3.497.115.21.242.286.477.285 1.51-.01 3.02-.005 4.528-.005.615 0 .758.144.763.753.002.242.128.364.38.365h1.173c.511.003.682.174.682.694.001 3.829 0 7.658 0 11.487v4.416c0 .644-.137.78-.791.78h-13.22Zm10.615-10.366c0-2.208-.004-4.416.005-6.624 0-.27-.084-.351-.352-.348-1.136.012-2.272.01-3.41.001-.214-.001-.278.06-.238.276.248 1.34.164 2.653-.348 3.924-.085.211-.008.236.173.235.764-.004 1.528 0 2.292-.001.81 0 .797-.001.81.81.003.293-.103.36-.374.357-1.025-.013-2.05.01-3.075-.014-.403-.01-.724.048-.934.434-.078.142-.229.243-.339.369-.063.073-.203.125-.155.236.04.09.17.042.259.042 1.276.003 2.552.002 3.829.002.523 0 .784.258.781.774-.001.385-.001.386-.387.386l-6.092.001c-.111 0-.234-.016-.332.023-.618.244-1.248.435-1.91.509-.179.02-.23.119-.225.284.007.28 0 .56 0 .838 0 1.463.004 2.926-.003 4.388 0 .229.039.308.28.2.274-.123.574-.138.875-.137 2.833.002 5.665.001 8.497.001.37 0 .373 0 .373-.372v-6.596.002ZM3.898 12.82v6.596c0 .4.001.4.4.4 2.823 0 5.646.002 8.469-.001.32 0 .635.028.93.155.187.081.224.014.224-.162-.003-1.76-.005-3.52.002-5.282 0-.212-.102-.28-.282-.296a4.864 4.864 0 0 1-1.407-.34c-.383-.158-.768-.186-1.172-.184-1.789.007-3.577.003-5.366.003-.483 0-.724-.24-.723-.721 0-.293.149-.44.446-.44 1.388 0 2.776 0 4.164-.002.09 0 .219.049.258-.041.05-.112-.092-.164-.154-.237-.156-.184-.335-.352-.477-.546-.141-.194-.307-.258-.545-.255-.96.013-1.919.005-2.878.006-.825 0-.817 0-.819-.827 0-.25.072-.343.333-.34.903.013 1.807-.001 2.71.009.24.003.314-.035.21-.29-.496-1.226-.56-2.496-.348-3.789.052-.32.027-.354-.302-.354-1.1-.002-2.199-.001-3.298 0-.372 0-.374.001-.374.37v6.568ZM14.501 1.972c-3.163.1-5.546 2.433-5.543 5.565.003 3.156 2.386 5.542 5.542 5.542 3.154 0 5.542-2.387 5.542-5.541 0-3.152-2.378-5.459-5.54-5.566ZM1.662 14.498v7.155c0 .4.001.4.4.4h11.432c.422 0 .463-.065.288-.45a.946.946 0 0 0-.506-.496c-.236-.1-.481-.13-.737-.13-3.009.002-6.018.001-9.027 0-.633 0-.775-.14-.775-.768V7.688c0-.46-.233-.69-.7-.688-.373.002-.375.002-.375.37v7.128Zm25.677.058c0-2.292.003-4.584-.002-6.876-.001-.793.11-.669-.677-.678-.395-.006-.395 0-.395.404v12.829c0 .592-.152.743-.745.743h-6.652c-.848 0-1.696-.009-2.543.004-.482.007-.902.16-1.116.645-.157.355-.111.426.268.426h11.487c.373 0 .375-.002.375-.37v-7.128.001Z"></path>
                <path
                  fill="currentColor"
                  d="M20.093 15.946c-1.201 0-2.402-.005-3.603.005-.253.002-.34-.076-.339-.334.003-.833-.006-.833.812-.833h6.676c.387 0 .387.002.389.384.003.52-.256.778-.779.778h-3.156ZM20.09 18.183c-1.2 0-2.402-.006-3.603.004-.255.002-.336-.081-.336-.335.002-.832-.007-.831.814-.831h6.676c.384 0 .384 0 .386.387.003.516-.257.774-.78.774H20.09ZM8.922 14.785c1.191 0 2.383.007 3.575-.005.264-.003.376.075.351.347-.018.203-.007.41-.006.614.002.14-.064.206-.203.203-.065-.001-.13.002-.196.002H5.348c-.373 0-.373-.001-.375-.37 0-.167.01-.336-.002-.502-.016-.219.074-.294.291-.292.866.008 1.732.003 2.598.003h1.061ZM8.911 18.182c-1.2 0-2.402-.005-3.603.005-.25.002-.34-.073-.34-.333.002-.834-.007-.834.812-.833h6.676c.387 0 .387 0 .39.384.002.518-.257.778-.778.778H8.91ZM12.802 9.908V8.567c0-.3-.155-.45-.464-.45-.214 0-.429.006-.643-.001-.363-.012-.562-.196-.566-.552a97.23 97.23 0 0 1 0-2.292c.004-.355.203-.539.567-.55.251-.008.504-.016.755.001.262.02.377-.064.355-.342-.02-.25-.009-.503-.002-.755.01-.38.194-.577.566-.58.754-.008 1.509-.009 2.263 0 .372.003.555.202.564.582.006.26.013.522 0 .782-.012.226.061.326.3.312.26-.016.521-.008.782-.001.397.009.59.191.595.58.007.746.007 1.491 0 2.236-.004.377-.197.566-.57.578-.243.007-.485.001-.727.002-.376 0-.377 0-.378.367 0 .95.001 1.9-.001 2.85-.001.531-.168.694-.707.696-.68.002-1.36.003-2.04 0-.464-.002-.646-.182-.65-.641-.004-.494-.001-.988-.001-1.481h.002Zm2.236-.82c0-.494-.002-.988 0-1.481.004-.464.184-.644.642-.65.084-.002.167.001.251 0 .932-.024.766.18.786-.826.003-.178-.066-.255-.247-.25-.26.007-.521.003-.782 0-.465-.005-.642-.18-.65-.642 0-.083.002-.167 0-.251-.026-.929.185-.767-.827-.783h-.028c-.152-.007-.222.064-.22.217.003.27.002.54-.001.81-.005.464-.182.642-.643.648h-.251c-.93.025-.765-.18-.782.83v.028c-.008.153.066.22.218.218.27-.003.54-.002.81.001.463.006.645.183.647.644.003.828.002 1.658.002 2.486 0 .808 0 .802.799.787.204-.004.282-.071.278-.277-.01-.503-.003-1.006-.003-1.509h.001Z"></path>
              </svg>
              <h6 class="service-header m-0 p-0">Sunday Service</h6>
              <p class="service-time m-0 p-0">7.00 pm (every week)</p>
            </div>
          </div>
          <p class="text text-center m-0 p-0">
            Calvary Chapel is an international, non-denominational church. Our
            most noticeable distinctive is the emphasis we place on the Word of
            God: we believe the Bible to the inspired and inerrant revelation of
            God, and we teach it in our services book by book and verse by
            verse.
          </p>
          <div
            class="teaching mt-3 pt-5 mx-lg-auto">
            <div
              class="wednesday-teaching p-3 my-3 d-flex flex-column align-items-center justify-content-center">
              <h6 class="teaching-header text-primary fw-bold">WEDNESDAY TEACHING</h6>
              <p class="teaching-text text-center">
                Lorem ipsum dolor sit amet consectetur. Nunc morbi egestas a
                euismod est adipiscing tristique arcu. Facilisis tristique
                viverra velit volutpat purus faucibus. Est tortor.
              </p>
              <svg
                color="#c6deff"
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-8feus5"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="EastIcon"
                style="
                  width: 30px;
                  height: 30px;
                  background: #c6deff;
                  border-radius: 50%;
                  padding: 5px;
                ">
                <path
                  fill="#0e60bf"
                  d="m15 5-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"></path>
              </svg>
            </div>
            <div
              class="sunday-teaching p-3 my-3 d-flex flex-column align-items-center justify-content-center">
              <h6 class="teaching-header text-primary fw-bold">SUNDAY TEACHING</h6>
              <p class="teaching-text text-center">
                Lorem ipsum dolor sit amet consectetur. Nunc morbi egestas a
                euismod est adipiscing tristique arcu. Facilisis tristique
                viverra velit volutpat purus faucibus. Est tortor.
              </p>
              <svg
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-8feus5"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="EastIcon"
                style="
                  width: 30px;
                  height: 30px;
                  background: #c6deff;
                  border-radius: 50%;
                  padding: 5px;
                ">
                <path
                  fill="#0e60bf"
                  d="m15 5-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"></path>
              </svg>
            </div>
            <div
              class="youtube p-3 my-3 my-sm-0 my-xlg-3 mx-lg-auto d-flex flex-column align-items-center justify-content-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 40 29"
                style="width: 30px; height: auto">
                <path
                  fill="red"
                  d="M39.164 4.838a5.027 5.027 0 0 0-3.536-3.56C32.508.439 20 .439 20 .439s-12.508 0-15.628.84a5.026 5.026 0 0 0-3.536 3.56C0 7.978 0 14.528 0 14.528s0 6.551.836 9.69c.46 1.733 1.815 3.04 3.536 3.503 3.12.841 15.628.841 15.628.841s12.508 0 15.628-.84c1.72-.464 3.076-1.771 3.536-3.503.836-3.14.836-9.69.836-9.69s0-6.551-.836-9.691Z"></path>
                <path
                  fill="#fff"
                  d="M15.91 20.476V8.58l10.454 5.947-10.455 5.948Z"></path>
              </svg>
              <p>
                <a href="#" class="fw-bold"
                  >YOUTUBE LIVE <i class="fa-solid fa-arrow-right"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs')%>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
