<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/ministry.css" />
    <title>Calvary Chapel</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')%>

    <!-- MAIN -->
    <main class="pt-4 pt-xxs-5">
      <section class="hero">
        <div
          class="hero-container container d-flex flex-row justify-content-center align-items-center">
          <h1 class="hero-text text-white text-center">OUR MINISTRY</h1>
        </div>
      </section>

      <section class="ministry-nav py-3">
        <div class="ministry-nav-container container overflow-auto">
          <div class="nav-container d-flex flex-row gap-5 py-3">
            <div
              class="men-ministry text-center rounded-pill text-primary fw-bold active">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                style="height: 25px; width: 25px; margin-right: 12px">
                <g clip-path="url(#MenSvgDyn_svg__a)">
                  <path
                    fill="currentColor"
                    d="M3.236 7.53c-1.47-1.03-1.469-2.89-.492-3.925C3.757 2.53 5.385 2.484 6.46 3.529c.966.94 1.17 2.862-.415 4.004l.716.214c.237.072.422.004.554-.203.076-.121.15-.245.23-.364.184-.274.42-.483.724-.628a8.02 8.02 0 0 1 1.359-.521c.056-.016.143-.007.155-.079.01-.064-.063-.1-.108-.143a3.362 3.362 0 0 1-.998-1.864c-.291-1.572.64-3.191 2.146-3.734 1.81-.652 3.739.252 4.35 2.075.445 1.33.126 2.504-.846 3.506-.047.048-.135.086-.122.155.017.085.121.068.188.088.534.16 1.051.356 1.536.63.317.18.495.485.69.775.089.134.121.338.26.396.13.054.285-.084.436-.12.204-.05.404-.117.631-.184-.777-.57-1.201-1.305-1.173-2.267.02-.686.278-1.278.769-1.753a2.574 2.574 0 0 1 3.662.057 2.617 2.617 0 0 1-.455 3.967l.522.152c.378.112.74.26 1.086.45.427.233.621.627.76 1.066.248.784.503 1.566.755 2.349.074.227.113.457.107.698-.02.829-.03 1.658-.048 2.487-.02.943-.858 1.582-1.775 1.359-.25-.06-.25-.06-.25.194-.001 1.135 0 2.27-.002 3.405 0 .414-.078.8-.344 1.14-.475.606-1.363.783-2.017.375-.146-.09-.247-.098-.4-.002-.837.528-2.01.07-2.286-.88a1.998 1.998 0 0 1-.08-.57c.004-.843 0-1.684.004-2.526 0-.154-.028-.223-.199-.17-.346.11-.688.072-1.028-.038-.222-.073-.224-.069-.224.159 0 1.578.002 3.155 0 4.733-.002 1.03-.674 1.853-1.68 2.038-.534.099-1.047.014-1.5-.304-.12-.084-.197-.07-.314.004-.63.398-1.304.46-1.98.149-.754-.348-1.183-.962-1.196-1.797-.023-1.602-.008-3.205-.008-4.807 0-.237-.003-.245-.23-.171-.348.114-.697.138-1.044.013-.157-.057-.18.007-.178.144.003.88.002 1.758 0 2.637 0 .974-.798 1.702-1.76 1.599a1.216 1.216 0 0 1-.61-.217c-.14-.105-.245-.085-.384.002-.896.555-2.111.031-2.322-1a2.864 2.864 0 0 1-.046-.557c-.005-1.116-.002-2.233-.003-3.349 0-.264 0-.264-.26-.201-.897.216-1.74-.416-1.765-1.333-.022-.848-.03-1.696-.048-2.543a1.725 1.725 0 0 1 .078-.571c.277-.86.564-1.717.828-2.58.167-.548.533-.884 1.04-1.1a6.62 6.62 0 0 1 1.203-.405c.023-.005.044-.018.085-.037Zm8.752 6.639h2.077c.186 0 .28-.094.28-.281v-3.705c0-.127.004-.252.095-.351.073-.079.15-.097.202.023.025.057.046.116.065.175.18.55.36 1.101.537 1.653.057.177.128.352.115.545-.044.629-.016 1.26-.046 1.889-.02.405-.033.81-.024 1.215.009.43.408.801.837.8a.852.852 0 0 0 .84-.795c.051-1.152.074-2.305.067-3.459-.001-.093.005-.192-.023-.278-.365-1.153-.736-2.303-1.104-3.454a1.104 1.104 0 0 0-.629-.7c-.21-.095-.417-.199-.632-.281-.508-.195-1.039-.307-1.575-.395-.18-.03-.305.023-.406.186-.14.227-.305.44-.464.656a.342.342 0 0 0-.07.277c.11.733.21 1.467.316 2.2.118.82.239 1.64.36 2.459.026.178.02.334-.123.48-.205.207-.389.437-.575.663-.09.109-.154.092-.236-.01-.16-.199-.318-.402-.498-.581-.196-.194-.251-.396-.163-.658.045-.133.04-.283.06-.424.095-.692.19-1.383.287-2.073.1-.703.203-1.405.306-2.107.012-.08-.02-.144-.065-.207-.157-.218-.331-.426-.46-.658-.12-.218-.286-.231-.488-.195-.627.111-1.243.263-1.83.515-.455.196-.832.436-.984.966-.276.957-.604 1.9-.901 2.851-.072.23-.181.453-.187.701-.023 1.172.051 2.343.067 3.515.003.28.141.502.377.653.293.186.592.21.897.02.285-.179.416-.43.408-.767-.02-.803-.028-1.608-.05-2.412-.012-.487 0-.962.187-1.43.194-.485.33-.992.496-1.49.017-.053.025-.131.113-.125.07.005.108.055.14.11.065.11.054.23.054.348l.002 3.686c0 .244.005.25.253.25h2.095Zm2.355 4.366h.002v-3.33c0-.247-.004-.25-.252-.25H9.921c-.28 0-.28 0-.28.275.002 1.65-.004 3.301.023 4.952.01.604.002 1.21.003 1.814.001.428.218.727.593.896.409.185.803.136 1.153-.162.274-.234.353-.545.353-.89v-5.949c0-.142-.012-.279.202-.273.229.006.253.018.253.257v5.294c0 .256-.007.512.003.767.03.726.619 1.181 1.316 1.024.493-.112.8-.523.802-1.096.004-1.11.001-2.22.001-3.33Zm-11.51-6.272c0 .486.002.973-.002 1.46-.001.128.044.175.174.175.942-.004 1.884-.003 2.826-.002.091 0 .16-.014.154-.131-.017-.299-.03-.598-.044-.897-.016-.38-.064-.767.009-1.137.086-.438.247-.862.378-1.29.174-.566.35-1.132.526-1.697.026-.08.028-.143-.068-.18a5.53 5.53 0 0 0-1.336-.342c-.132-.015-.224.028-.297.143-.097.152-.207.296-.313.442a.395.395 0 0 0-.08.315c.045.276.074.555.114.833l.383 2.682c.017.123.028.249-.066.355-.156.177-.312.356-.465.537-.065.076-.118.072-.182-.003-.164-.196-.33-.39-.498-.583-.05-.058-.056-.119-.045-.19.041-.259.082-.517.116-.777.112-.852.222-1.704.37-2.55.05-.288.06-.553-.163-.78a.81.81 0 0 1-.152-.212c-.105-.216-.28-.234-.487-.199-.47.08-.921.216-1.361.396-.372.152-.623.384-.736.8-.187.684-.439 1.35-.647 2.029-.087.283-.232.555-.203.867.048.517.019 1.035.042 1.552.015.336-.005.675.063 1.006a.62.62 0 0 0 .98.382.627.627 0 0 0 .282-.558c-.016-.723-.026-1.446-.047-2.169a1.88 1.88 0 0 1 .107-.66c.128-.383.249-.77.377-1.154.028-.082.026-.216.152-.2.12.015.12.143.134.24.008.054.004.111.004.168v1.328Zm18.313.013c0-.462-.002-.923 0-1.385.001-.08.012-.161.027-.24.012-.063.042-.124.115-.13.082-.008.1.064.12.121.06.177.111.357.174.533.216.614.42 1.228.33 1.895-.009.074-.002.15-.004.224-.01.493-.027.985-.032 1.477-.003.268.155.445.378.559.203.104.406.077.603-.047.248-.156.306-.394.314-.66l.07-2.336a.98.98 0 0 0-.044-.333c-.294-.92-.59-1.839-.889-2.758a.667.667 0 0 0-.31-.385c-.556-.312-1.157-.486-1.784-.584-.162-.025-.287.013-.378.166-.095.16-.212.308-.322.46a.3.3 0 0 0-.066.226l.243 1.701c.096.666.192 1.332.29 1.997a.201.201 0 0 1-.052.172c-.163.188-.328.375-.486.568-.078.096-.135.08-.207-.005a6.74 6.74 0 0 0-.37-.422.505.505 0 0 1-.146-.458c.144-.993.279-1.987.424-2.979.106-.716.108-.713-.322-1.293-.082-.11-.17-.152-.3-.136-.423.05-.83.158-1.23.304-.15.054-.185.128-.136.282.285.897.56 1.796.844 2.693.034.11.051.217.053.33.01.617-.017 1.234-.039 1.85-.006.165.05.217.214.216a181.74 181.74 0 0 1 2.713 0c.172.002.21-.063.208-.22-.008-.468-.003-.935-.003-1.403ZM2.833 17.254c0 .841.003 1.683-.002 2.525 0 .175.042.333.12.483a.794.794 0 0 0 .84.394.773.773 0 0 0 .642-.685c.057-.46.015-.921.017-1.38.002-.498.004-.996-.004-1.494-.01-.61.019-1.22-.009-1.829-.006-.13 0-.249.187-.255.192-.007.19.11.19.243-.002.997-.002 1.995-.002 2.992 0 .524-.006 1.048.003 1.572.01.6.519.99 1.065.806.33-.111.558-.355.559-.877 0-1.072 0-2.144.003-3.217a.576.576 0 0 0-.111-.329A1.925 1.925 0 0 1 6 15.148c-.002-.162-.015-.325-.005-.486.01-.177-.052-.24-.235-.238-.897.007-1.795.008-2.693-.001-.196-.002-.242.067-.24.25.009.86.004 1.72.004 2.582v-.001Zm18.311-.013v-2.6c0-.11.007-.215-.154-.214-.948.002-1.896.002-2.843 0-.125 0-.161.06-.16.174.002.211 0 .424-.006.635a1.96 1.96 0 0 1-.354 1.105.538.538 0 0 0-.091.334c.002.954.002 1.908.002 2.861 0 .156.002.311.026.466.065.434.499.741.931.655.418-.083.669-.41.67-.886V15.34c0-.063.002-.125.003-.187.002-.138.1-.135.197-.135.102 0 .168.028.166.148-.01.921-.005 1.842 0 2.764.004.672-.022 1.344.014 2.017.017.316.238.599.543.686.545.158 1.05-.224 1.054-.809.007-.86.002-1.72.002-2.58v-.002ZM14.35 3.371c.045-1.251-.994-2.37-2.346-2.376a2.36 2.36 0 0 0-2.371 2.341c-.003 1.34 1.027 2.398 2.344 2.407 1.324.01 2.42-1.098 2.373-2.371ZM4.63 7.166A1.801 1.801 0 0 0 6.447 5.37c.004-1.02-.787-1.809-1.796-1.834-.944-.023-1.832.793-1.827 1.805.005 1.013.799 1.821 1.807 1.823Zm14.717-3.623a1.796 1.796 0 0 0-1.816 1.79c-.005 1.018.788 1.828 1.794 1.833a1.806 1.806 0 0 0 1.826-1.802 1.795 1.795 0 0 0-1.804-1.82Z"></path>
                </g>
                <defs>
                  <clipPath id="MenSvgDyn_svg__a">
                    <path fill="#fff" d="M0 0h23.979v24H0z"></path>
                  </clipPath>
                </defs></svg
              >Mens Ministry
            </div>
            <div
              class="women-ministry text-center rounded-pill text-primary fw-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                style="height: 25px; width: 25px; margin-right: 12px">
                <g clip-path="url(#WomenSvgDyn_svg__a)">
                  <path
                    fill="currentColor"
                    d="M17.144 14.894c-.095.147-.148.254-.223.342-.263.31-.606.37-.985.293-.39-.078-.599-.353-.693-.709-.11-.416-.107-.851-.152-1.278-.064-.626-.105-1.254-.167-1.88-.036-.365-.274-.65-.42-.972-.016-.035-.043-.058-.09-.046-.161.042-.303.274-.28.446.044.328.195.616.336.908.186.383.328.78.407 1.2.015.082.034.16-.055.216-.076.047-.036.11-.017.166.188.567.258 1.156.28 1.748a17.59 17.59 0 0 1-.129 3.04c-.019.143-.035.286-.041.428-.007.14-.07.202-.211.198-.4-.012-.363-.02-.363.383 0 1.085.002 2.17-.002 3.256-.002.66-.382 1.182-.977 1.318-.483.11-.918 0-1.262-.374-.085-.093-.131-.108-.229-.007-.402.42-.95.544-1.454.322-.528-.234-.782-.668-.787-1.233-.01-1.128-.003-2.257-.004-3.386 0-.185-.093-.279-.28-.28-.174-.001-.271-.09-.292-.267-.127-1.047-.214-2.096-.176-3.15.024-.674.085-1.344.293-1.99.017-.053.05-.11 0-.159-.116-.113-.065-.24-.04-.367.103-.508.336-.964.554-1.426.08-.171.131-.35.158-.536.013-.09.027-.183-.045-.266-.227-.259-.254-.242-.434.049-.34.545-.355 1.155-.404 1.762-.057.696-.1 1.393-.192 2.084-.1.757-.997 1.09-1.6.62-.15-.116-.216-.284-.301-.438-.046.002-.042.033-.041.054.004.525-.09 1.043-.115 1.565-.008.18-.07.288-.271.26-.176-.026-.223.061-.222.227.005.88.002 1.759.002 2.638 0 .382-.083.729-.405.98-.454.354-1.007.337-1.43-.053-.076-.07-.125-.125-.228-.026-.36.346-.775.437-1.234.214-.44-.214-.627-.588-.63-1.063-.002-.879 0-1.758-.001-2.638 0-.262 0-.27-.26-.278-.14-.004-.189-.078-.201-.195-.035-.328-.079-.656-.097-.985-.047-.86-.082-1.72.028-2.577.019-.149.051-.294.083-.44.032-.156.078-.299.035-.48-.052-.217.046-.454.136-.668.12-.287.25-.571.377-.856a.95.95 0 0 0 .083-.38c.002-.124-.09-.172-.17-.225-.067-.045-.083.024-.106.064a2.343 2.343 0 0 0-.35 1.087c-.034.659-.1 1.316-.156 1.974-.044.516-.39.87-.85.873-.472.004-.864-.368-.843-.836.025-.54.078-1.08.132-1.62.05-.508.085-1.02.18-1.52C.487 9.08.785 8.197 1.34 7.42c.31-.434.694-.782 1.188-.998a.46.46 0 0 0 .154-.101c.14-.146.305-.256.497-.338-.102.017-.205.031-.306.05-.477.09-.912-.023-1.327-.258-.152-.085-.153-.156-.034-.281.239-.251.415-.544.519-.878.036-.116.051-.21-.114-.224-.11-.01-.115-.101-.12-.182a3.683 3.683 0 0 1 .282-1.715c.307-.72.855-1.155 1.62-1.297.484-.09.973-.087 1.423.15.208.11.426.197.634.301.56.28.774.797.877 1.378.064.358.01.707-.065 1.056-.111.52.004.992.336 1.404.118.146.076.22-.06.306-.43.27-.89.336-1.38.208-.06-.016-.121-.027-.186-.041.442.209.83.498 1.226.767.647.44 1.012 1.103 1.282 1.82.014.036.024.072.039.106.004.01.017.016.035.031.159-.369.345-.719.577-1.043.389-.545.877-.967 1.5-1.226a.353.353 0 0 0 .122-.082c.195-.212.422-.369.703-.44.045-.012.09-.03.073-.086-.018-.06-.069-.039-.11-.029-.278.065-.555.134-.847.123a2.344 2.344 0 0 1-1.156-.321c-.179-.108-.189-.137-.055-.29.309-.354.528-.754.663-1.203.064-.214.053-.239-.158-.235-.083.002-.141-.02-.14-.107.008-1.06.09-2.104.844-2.947.46-.516 1.068-.74 1.745-.784.4-.026.806-.03 1.18.129.381.162.764.333 1.12.538.528.305.755.833.884 1.415.113.51.026 1.004-.057 1.502-.104.621.003 1.194.428 1.678.126.142.067.21-.055.29-.53.343-1.098.412-1.702.252-.066-.017-.133-.032-.2-.048-.038-.009-.079-.008-.089.04-.01.044.02.065.06.078.538.18.95.575 1.432.852.569.326.93.874 1.243 1.443.084.152.162.306.258.49l.179-.416c.306-.725.756-1.332 1.452-1.728.194-.11.389-.215.553-.37.106-.1.25-.136.383-.193-.124.021-.248.04-.37.064-.47.095-.902-.02-1.312-.243-.183-.1-.183-.135-.05-.29.244-.28.447-.583.53-.955.02-.091.033-.161-.1-.15-.093.01-.134-.043-.139-.135-.04-.796.062-1.556.537-2.227.362-.513.877-.762 1.479-.852.445-.066.89-.05 1.293.171.213.117.441.194.654.303.519.268.744.743.847 1.295.08.427.004.845-.058 1.264-.069.468.04.89.33 1.264.133.173.132.2-.049.318-.421.276-.878.33-1.36.21-.062-.015-.123-.027-.183-.04-.004 0-.009.007-.025.02.246.057.43.197.604.362.087.081.217.116.326.176.599.326.997.84 1.312 1.423.367.68.6 1.414.72 2.173.103.645.149 1.3.208 1.95.033.36.088.717.087 1.08a.828.828 0 0 1-.755.83c-.418.042-.847-.254-.907-.668-.07-.486-.105-.978-.149-1.468-.034-.378-.04-.76-.093-1.135-.037-.26-.21-.476-.326-.709-.017-.033-.05-.04-.079-.017-.066.053-.157.086-.166.19a.827.827 0 0 0 .078.417c.128.284.268.564.374.856.09.251.222.506.098.79-.018.043.01.11.025.163.227.81.22 1.64.194 2.47-.017.51-.038 1.02-.103 1.528-.008.062-.017.123-.022.186-.014.151-.092.226-.247.206-.176-.023-.225.062-.224.228.006.86.004 1.721.002 2.582 0 .37-.068.715-.359.987-.414.386-1.045.404-1.456.015-.115-.11-.174-.113-.298-.004-.335.293-.723.378-1.147.197-.464-.198-.661-.572-.666-1.053-.008-.892-.002-1.784-.003-2.676 0-.264 0-.274-.264-.273-.205 0-.213-.134-.22-.274-.028-.523-.126-1.038-.114-1.621Zm-2.74-7.75c.089.283.152.56.184.846.005.048.035.104-.012.14-.048.036-.094-.002-.138-.025-.333-.17-.673-.328-.996-.515-.16-.092-.26-.055-.375.056-.3.29-.612.568-.907.864-.129.13-.22.12-.342 0-.313-.303-.636-.596-.95-.9-.094-.09-.172-.11-.295-.043-.322.177-.653.338-.981.503-.058.03-.118.097-.186.048-.06-.043-.019-.117-.014-.176.021-.273.096-.534.17-.803-.33.216-.595.49-.808.81-.692 1.044-.963 2.235-1.186 3.44-.128.692-.122 1.401-.226 2.098-.02.134.053.162.156.177l.648.09c.288.038.29.028.312-.269.05-.64.107-1.278.164-1.917a.92.92 0 0 1 .098-.358c.155-.292.299-.589.452-.882a.443.443 0 0 0 .045-.34 1.666 1.666 0 0 1-.041-.63c.008-.067.011-.142.094-.168.186-.058.35.085.335.28-.038.454.104.826.524 1.049.132.07.177.165.17.3a2.696 2.696 0 0 1-.146.805c-.158.42-.405.802-.523 1.24-.037.14-.024.213.14.25.498.11.993.236 1.489.358.11.027.19.002.254-.098.108-.168.23-.327.342-.491.107-.157.147-.158.253-.007.119.168.245.33.356.503.062.096.134.119.237.094.514-.124 1.029-.25 1.544-.368.134-.03.146-.095.114-.216-.086-.315-.237-.602-.373-.896-.172-.376-.322-.756-.3-1.183.008-.136.031-.237.169-.3a.784.784 0 0 0 .273-.223c.202-.245.265-.53.242-.84-.014-.186.059-.254.287-.258.171-.003.134.134.14.23.015.2.008.4-.046.593a.356.356 0 0 0 .03.27c.14.273.268.55.417.816.104.185.15.375.166.586.05.645.116 1.29.17 1.935.012.142.067.177.205.152.239-.045.48-.076.721-.103.155-.018.208-.09.17-.24-.06-.237-.061-.481-.083-.723-.083-.905-.148-1.812-.412-2.691-.226-.751-.517-1.47-.966-2.116a2.628 2.628 0 0 0-.767-.754h.001ZM2.23 7.105c-.069.051-.107.073-.136.103-.096.097-.197.192-.283.298-.58.719-.86 1.57-1.04 2.455-.148.726-.182 1.47-.264 2.206-.013.119.038.174.15.188.155.019.313.027.463.064.157.039.205-.03.215-.165.019-.249.04-.497.054-.746.03-.575.078-1.144.412-1.644.131-.196.212-.405.121-.65-.026-.072-.011-.16-.01-.241.006-.271.086-.321.337-.234.131.046.12.146.114.244-.022.366.113.645.444.815.1.051.12.132.122.232.007.36-.12.684-.26 1.005-.091.21-.216.408-.28.63-.027.093-.048.187.09.22.393.095.786.192 1.178.293.093.024.152-.002.204-.08.097-.145.203-.284.302-.428.07-.1.136-.097.204-.002.087.122.182.239.257.368.078.136.171.17.323.128.348-.096.699-.185 1.052-.26.169-.036.208-.106.14-.258a35.501 35.501 0 0 1-.39-.891 1.626 1.626 0 0 1-.129-.804c.02-.187.225-.197.327-.31.191-.212.247-.454.232-.725-.01-.199.15-.186.27-.209.129-.025.16.076.173.172a.932.932 0 0 1-.03.425.442.442 0 0 0 .04.375c.245.449.501.895.482 1.433-.002.042.011.085.022.154.13-.59.247-1.156.41-1.712a.575.575 0 0 0 0-.296c-.146-.626-.388-1.21-.795-1.715-.121-.15-.248-.301-.449-.418.05.212.095.392.134.573.013.065.049.147-.007.196-.062.055-.129-.011-.187-.04a29.434 29.434 0 0 1-.763-.395c-.129-.07-.225-.055-.331.051-.23.23-.473.444-.704.671-.121.119-.217.132-.345.003-.227-.23-.472-.444-.706-.669-.107-.103-.208-.13-.348-.05-.267.148-.543.279-.816.416-.103.052-.15.028-.137-.097.023-.216.075-.427.14-.68H2.23Zm14.61 3.993c.051-.22.023-.446.109-.65.088-.205.189-.408.301-.601.125-.214.196-.424.098-.671-.028-.07-.015-.16-.01-.241.014-.217.08-.257.289-.209.145.034.166.121.16.247-.016.361.12.645.446.82.089.048.119.12.12.214.005.272-.04.534-.15.783-.127.291-.256.582-.381.874-.043.1-.06.19.091.225.388.09.775.187 1.161.286.107.027.176 0 .236-.092.09-.142.191-.277.29-.414.066-.095.133-.1.203.001.091.134.194.26.277.399.073.12.163.13.284.1.35-.092.699-.186 1.052-.263.177-.038.216-.123.15-.276-.088-.2-.18-.397-.27-.596-.144-.32-.264-.646-.26-1.004.002-.1.023-.18.122-.233.327-.173.466-.448.446-.816-.01-.205.066-.274.28-.277.197-.003.16.152.169.268.006.093.014.194-.016.279-.069.197-.008.36.083.532.182.345.39.682.406 1.093.01.23.034.46.052.689l.061.726c.01.105.054.155.172.133.165-.031.332-.05.5-.07.113-.015.163-.071.148-.19-.108-.882-.134-1.776-.366-2.642-.198-.735-.464-1.435-.949-2.034a1.451 1.451 0 0 0-.406-.373c.063.236.11.441.136.651.019.146-.033.168-.154.106-.271-.139-.547-.271-.815-.417-.127-.068-.219-.044-.317.05-.242.233-.498.453-.734.693-.12.122-.201.102-.309-.002-.233-.225-.48-.437-.706-.668-.121-.125-.23-.14-.378-.058-.24.134-.485.256-.73.38-.058.03-.125.096-.187.048-.069-.052-.024-.141-.01-.21.036-.18.082-.358.124-.54-.027-.002-.035-.005-.039-.002a.525.525 0 0 0-.06.043c-.635.56-.953 1.294-1.144 2.097a.337.337 0 0 0 .01.184c.173.534.309 1.077.415 1.626v.002Zm-2.953 9.888c0-.598-.003-1.196.003-1.794 0-.144-.048-.2-.195-.199-.443.006-.885.005-1.328 0-.137-.001-.186.05-.184.187.006.412.002.823.002 1.234 0 .748-.005 1.496.003 2.243.006.53.382.914.871.904a.85.85 0 0 0 .834-.91c-.023-.555-.006-1.11-.006-1.665Zm-3.808.01h.002c0 .593-.008 1.185.002 1.777.009.512.521.89 1.017.764.445-.112.677-.417.68-.926.005-1.14 0-2.281.004-3.422 0-.145-.049-.198-.195-.196-.43.006-.86.008-1.29-.001-.174-.004-.225.06-.223.229.007.592.003 1.183.003 1.776Zm1.898-15.52c.966.002 1.8-.824 1.791-1.788-.001-.155.026-.34-.112-.456-.326-.274-.584-.594-.738-.994-.041-.107-.095-.116-.177-.035-.128.127-.256.256-.393.372a5.42 5.42 0 0 1-1.842 1.007c-.305.099-.325.142-.263.46.158.81.912 1.433 1.734 1.434ZM18.17 18.38c0 .454-.003.91 0 1.364.003.397.283.697.65.7.372.005.668-.282.671-.68.007-.934.001-1.869.005-2.804 0-.13-.051-.176-.177-.175-.305.005-.611.01-.916-.001-.176-.007-.242.046-.237.23.011.455.003.91.004 1.366ZM4.47 18.376c0 .461-.004.922.003 1.383.005.397.293.688.663.686a.673.673 0 0 0 .656-.679c.006-.934 0-1.868.004-2.802 0-.128-.045-.18-.174-.177a21.46 21.46 0 0 1-.953-.002c-.158-.004-.203.058-.201.209.007.46.002.921.002 1.382ZM19.695 5.628c.779.003 1.447-.657 1.442-1.422a.527.527 0 0 0-.184-.43 1.762 1.762 0 0 1-.491-.674c-.05-.118-.095-.105-.17-.026a3.694 3.694 0 0 1-.552.474c-.39.279-.819.475-1.272.62-.13.04-.185.1-.165.255.086.654.708 1.2 1.392 1.203Zm-15.4 0c.18.023.368-.05.548-.134.54-.253.822-.684.844-1.28.004-.122.009-.26-.092-.35a2.218 2.218 0 0 1-.58-.768c-.052-.118-.1-.089-.172-.012-.18.19-.382.356-.599.503-.383.26-.8.453-1.242.59-.103.032-.17.072-.15.21a1.45 1.45 0 0 0 1.444 1.241ZM21.22 18.412c0-.48-.002-.96.003-1.44.002-.136-.05-.19-.186-.187-.312.006-.624.006-.935 0-.138-.003-.186.054-.186.19.004.928.001 1.857.004 2.785a.655.655 0 0 0 .862.651.649.649 0 0 0 .437-.615c.006-.462.002-.922.002-1.384Zm-18.476-.017v1.384c0 .154.034.296.136.416.184.218.462.306.704.222.29-.101.456-.322.458-.658.007-.928.001-1.857.005-2.785 0-.135-.047-.191-.185-.189a19.7 19.7 0 0 1-.916 0c-.157-.004-.207.057-.205.209.007.467.003.934.003 1.401Zm5.035-3.268c.284 0 .455-.127.541-.397.042-.128.029-.26.05-.389.015-.088-.04-.118-.119-.13-.277-.042-.553-.09-.83-.134-.066-.01-.13-.013-.14.076-.015.148-.043.298-.034.446.018.296.26.527.532.528Zm8.96-.604c-.015-.117-.032-.233-.045-.35-.01-.092-.06-.11-.142-.096-.214.039-.428.073-.641.11-.321.057-.345.095-.276.427l.013.054c.078.327.291.494.578.455.337-.046.509-.25.513-.6Zm-4.085-8.52c.05-.19-.035-.217-.192-.158-.119.045-.242.05-.368.054-.225.004-.448 0-.665-.07-.046-.014-.138-.055-.13.034.01.143-.032.303.092.425.165.161.329.324.488.49.08.084.142.075.218-.004.133-.14.27-.277.41-.408.108-.1.175-.21.147-.363Zm-5.815 7.884c.051-.212.102-.424.077-.645-.093-.803-.198-1.605-.272-2.41-.028-.302-.202-.53-.31-.79-.04-.098-.103-.083-.174-.02-.132.118-.102.262-.065.4.069.26.202.494.308.74.112.257.187.526.263.796.04.14-.077.244-.043.379.129.508.207 1.024.216 1.55Zm10.299-.037c.004-.513.079-1.01.199-1.5.01-.042.027-.098.008-.126-.101-.154-.038-.306.003-.45a5.1 5.1 0 0 1 .24-.668c.1-.227.224-.446.285-.689.036-.146.064-.296-.084-.41-.052-.04-.105-.065-.138.007-.109.241-.285.453-.315.73-.07.649-.149 1.296-.214 1.946-.039.386-.145.774.015 1.159h.001ZM.424 13.04c.003.3.166.485.405.488.252.004.399-.178.424-.508.008-.101-.02-.147-.124-.161a7.205 7.205 0 0 1-.513-.09c-.101-.02-.155.01-.167.114-.008.06-.019.122-.025.157Zm23.117.054c.003-.266-.047-.347-.188-.324-.177.03-.353.063-.53.093-.052.008-.105.02-.104.083 0 .188.015.375.175.51.124.103.272.099.404.044.18-.076.227-.25.243-.406ZM3.726 6.121a.235.235 0 0 0 .078.185c.08.079.157.159.236.238.266.265.208.248.465-.006.116-.115.261-.212.274-.405.007-.104-.016-.145-.118-.114-.27.08-.54.067-.807-.006-.104-.028-.14.01-.128.108Zm15.45-.008c0 .118.029.168.191.33.22.22.44.22.662-.002.087-.087.183-.166.2-.303.012-.09.01-.155-.107-.122a1.51 1.51 0 0 1-.826 0c-.087-.023-.133.007-.12.097Z"></path>
                </g>
                <defs>
                  <clipPath id="WomenSvgDyn_svg__a">
                    <path fill="#fff" d="M0 0h23.97v24H0z"></path>
                  </clipPath>
                </defs></svg
              >Womens Ministry
            </div>
            <div
              class="youth-ministry text-center rounded-pill text-primary fw-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                style="height: 25px; width: 25px; margin-right: 12px">
                <g fill="currentColor" clip-path="url(#YouthSvgDyn_svg__a)">
                  <path
                    d="M2.418 20.728c0-.53-.006-1.06.003-1.59.004-.184-.05-.264-.245-.253-.226.012-.454.01-.68 0-.446-.018-.831-.172-1.043-.587-.217-.424-.161-.838.126-1.22.401-.533.802-1.066 1.15-1.637.083-.136.085-.184-.094-.181-.955.014-1.744-.89-1.623-1.878.085-.688.105-1.384.132-2.077.048-1.259.337-2.462.785-3.633.123-.32.24-.645.384-.957.417-.9 1.12-1.477 2.051-1.794.221-.076.226-.094.076-.265a2.736 2.736 0 0 1-.516-.862c-.045-.12-.093-.163-.225-.118-.775.266-1.515.172-2.227-.224-.244-.136-.33-.289-.293-.572.049-.38.165-.738.34-1.077C.906 1.05 1.547.771 2.365.85c.287.028.577.057.853.145.117.038.191.004.27-.08.724-.77 1.616-1.04 2.645-.857a2.539 2.539 0 0 1 1.454.806c.116.128.221.164.393.116a4.038 4.038 0 0 1 1.06-.138c.755-.008 1.255.38 1.589 1.02.17.327.252.683.315 1.044a.451.451 0 0 1-.233.507c-.679.389-1.39.545-2.159.302-.28-.088-.282-.08-.396.203a2.492 2.492 0 0 1-.484.763c-.143.153-.087.185.07.235a3.411 3.411 0 0 1 1.754 1.246c.318.425.479.926.672 1.412.4 1.008.662 2.055.785 3.132.062.538.074 1.083.102 1.625.023.446.05.893.052 1.34.003.852-.698 1.562-1.553 1.59-.22.008-.235.03-.116.217.342.541.706 1.067 1.105 1.568.457.574.29 1.224-.094 1.56-.23.201-.507.268-.802.28-.22.009-.44.012-.66 0-.19-.01-.251.067-.25.253.006.95.007 1.9 0 2.849-.002.44-.087.858-.342 1.233-.592.868-1.863 1.034-2.647.326-.143-.128-.22-.13-.368-.002-.548.479-1.19.577-1.85.307-.676-.276-1.073-.807-1.107-1.555-.024-.522-.005-1.045-.005-1.569h-.002.001Zm3.14-8.125c.674 0 1.348-.006 2.022.004.2.002.261-.063.26-.26-.01-.825-.005-1.651-.005-2.477 0-.082-.002-.166.011-.247a.455.455 0 0 1 .42-.39c.197-.012.387.141.446.357.031.115.03.232.03.349 0 1.231-.002 2.463 0 3.694.001.436.346.77.76.745.454-.027.801-.405.751-.84-.066-.566-.073-1.137-.114-1.706-.034-.48-.03-.96-.107-1.438a13.334 13.334 0 0 0-.976-3.23c-.376-.853-1.028-1.38-1.958-1.482-.965-.105-1.939-.065-2.906-.024-.88.036-1.584.477-1.989 1.252-.479.915-.794 1.903-1 2.919-.254 1.26-.229 2.544-.303 3.82a.63.63 0 0 0 .17.473c.227.249.557.322.886.194.26-.1.46-.396.46-.7.003-1.258.002-2.518.003-3.777 0-.082-.003-.166.01-.247a.43.43 0 0 1 .397-.359c.205-.009.392.13.434.337.024.113.031.232.031.348.003.791.002 1.582.003 2.373 0 .311.002.312.303.312h1.96Zm.02.85c-.682 0-1.363.005-2.044-.002-.177-.002-.254.058-.242.239.037.55-.17 1.038-.416 1.51-.437.84-.986 1.605-1.555 2.357-.069.091-.166.18-.098.313.072.14.209.143.341.14.762-.02 1.525-.01 2.287-.009.79.002 1.58-.005 2.37.008.83.013 1.662.012 2.493-.002.303-.005.605.02.906.003.119-.007.242-.016.298-.144.051-.118-.016-.21-.084-.3-.531-.703-1.05-1.416-1.472-2.19-.292-.537-.59-1.082-.527-1.73.015-.16-.072-.196-.214-.195-.681.005-1.362.002-2.044.002Zm-2.285 7.205h.001c0 .516-.01 1.033.003 1.548.018.725.751 1.14 1.374.781.346-.199.467-.527.468-.907.003-.99-.002-1.982.004-2.972.002-.178-.071-.224-.234-.222-.454.006-.909.01-1.362-.002-.204-.005-.26.075-.257.267.01.503.003 1.005.003 1.507Zm4.542.029c0-.516-.006-1.031.002-1.547.003-.182-.05-.26-.244-.255-.44.01-.88.01-1.32 0-.2-.005-.26.07-.26.264.008 1.01.002 2.02.005 3.03 0 .532.409.952.912.947.501-.005.899-.411.903-.934.005-.502.001-1.004.002-1.505ZM5.709 4.76c.662-.05 1.272-.4 1.626-1.145.165-.347.153-.372-.208-.514-.051-.02-.104-.036-.154-.058-.516-.231-1.04-.452-1.32-.995-.066-.126-.118-.106-.18.006-.213.391-.546.646-.948.82-.24.104-.478.21-.719.31-.098.04-.138.09-.103.204.245.8 1.023 1.374 2.006 1.372ZM1.844 2.956c.109-.012.22-.015.326-.039.332-.074.593-.178.638-.61.051-.498.098-.49-.415-.566-.717-.106-1.032.134-1.26.87-.04.127.01.191.125.235.189.072.383.107.586.11Zm7.395-.01c.235.007.444-.02.642-.11.062-.029.119-.058.115-.149-.022-.521-.492-.98-1.012-.965-.21.006-.421.05-.631.078-.09.012-.142.052-.105.153.077.208.106.425.13.643.009.086.056.134.13.168.239.11.482.198.731.183Zm-4.3-1.944c-.566.153-1.133.747-1.19 1.235.652-.148 1.142-.65 1.19-1.235Zm1.249.012a1.444 1.444 0 0 0 1.206 1.218c-.105-.531-.715-1.148-1.206-1.218ZM20.604 18.792c0 1.135.005 2.271-.002 3.406-.008 1.253-1.196 2.093-2.384 1.691a1.526 1.526 0 0 1-.612-.372c-.103-.104-.173-.115-.289-.009-.544.498-1.184.612-1.861.36-.685-.256-1.053-.788-1.145-1.513a4.726 4.726 0 0 1-.03-.597v-6.379c0-.277 0-.277-.267-.191-1.023.329-2.124-.445-2.094-1.52.037-1.311.044-2.628.296-3.923.218-1.12.577-2.199 1.086-3.216.41-.817 1.106-1.337 1.977-1.613.157-.05.21-.078.07-.234-1.277-1.42-.76-3.717.994-4.453a2.822 2.822 0 0 1 3.912 2.955 2.632 2.632 0 0 1-.666 1.462c-.173.191-.173.205.06.278.773.24 1.376.704 1.832 1.368.2.292.317.625.447.95.545 1.354.924 2.745.957 4.22.016.693.116 1.385.135 2.078.035 1.256-1.18 2.016-2.21 1.618-.206-.08-.206-.085-.206.146v3.488Zm-3.155-5.066h2.002c.273 0 .277-.005.278-.278 0-1.21-.002-2.422.003-3.633.002-.379.163-.58.444-.582.274-.002.428.209.428.586v3.696c0 .102-.002.205.03.306.12.375.476.61.84.553.414-.066.66-.346.647-.772-.02-.639-.058-1.277-.09-1.916a13.74 13.74 0 0 0-.14-1.436c-.16-1.027-.49-2.001-.885-2.957-.425-1.03-1.192-1.601-2.306-1.645a36.237 36.237 0 0 0-2.497 0c-.92.028-1.655.44-2.096 1.252-.442.811-.716 1.696-.938 2.593-.218.88-.274 1.777-.299 2.68-.011.432-.044.865-.091 1.295-.052.474.247.883.708.911a.753.753 0 0 0 .8-.794c-.022-1.218-.006-2.436-.007-3.654 0-.124 0-.248.037-.368.1-.314.443-.428.694-.228.149.118.177.284.177.463a2023 2023 0 0 0 0 3.654c0 .27.003.274.28.274H17.448Zm-2.261 4.815v1.878c0 .606-.006 1.211.002 1.817a.898.898 0 0 0 1.169.838c.423-.13.645-.442.646-.922.002-1.596 0-3.192 0-4.789 0-.082-.003-.166.008-.247.033-.26.234-.432.478-.418.229.013.379.18.389.448.007.185.002.37.002.556 0 1.162-.008 2.324.004 3.486.004.39-.043.784.028 1.173a.918.918 0 0 0 1.166.714c.422-.131.649-.453.649-.944.001-2.422-.002-4.844.005-7.266 0-.211-.07-.27-.275-.269-1.335.008-2.67.008-4.004 0-.208-.001-.273.062-.271.27.008 1.225.004 2.45.004 3.675Zm2.261-13.779c.828.002 1.535-.505 1.835-1.318.099-.269.094-.263-.166-.374-.52-.222-1.048-.442-1.346-.969-.09-.16-.152-.17-.237-.006-.198.382-.54.593-.909.778-.265.134-.546.226-.818.342-.222.095-.237.128-.143.353A1.987 1.987 0 0 0 17.45 4.76v.001ZM16.97.945c-.46.019-1.275.758-1.351 1.243-.021.13.043.148.142.106.183-.077.362-.164.545-.242.434-.186.601-.58.76-.978.026-.065.05-.143-.096-.13Zm2.278 1.184c-.155-.463-.459-.778-.858-1.012-.068-.04-.1-.017-.09.067.05.405.492.857.947.945Z"></path>
                </g>
                <defs>
                  <clipPath id="YouthSvgDyn_svg__a">
                    <path fill="#fff" d="M0 0h23.021v24H0z"></path>
                  </clipPath>
                </defs></svg
              >Youths Ministry
            </div>
            <div
              class="children-ministry text-center rounded-pill text-primary fw-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 30 20"
                style="height: 25px; width: 25px; margin-right: 12px">
                <g fill="currentColor" clip-path="url(#ChildrenSvgDyn_svg__a)">
                  <path
                    d="m14.491 17.034.25-.62c.595-1.433 1.568-2.557 2.824-3.446.115-.081.239-.138.08-.288-.49-.459-.864-1.003-1.19-1.62-.07.129-.125.242-.192.347-.365.573-.916.85-1.561.972-.449.085-.903.073-1.356.062-.134-.003-.25-.032-.252-.195-.007-.883.1-1.739.704-2.438.475-.55 1.114-.758 1.82-.788.357-.016.373-.037.24-.384-.24-.63-.441-1.274-.448-1.955-.014-1.487.44-2.807 1.485-3.887 1.123-1.161 2.522-1.71 4.122-1.81 1.383-.087 2.696.14 3.905.834 1.175.674 2.008 1.64 2.447 2.935.32.942.4 1.896.163 2.867a7.542 7.542 0 0 1-.359 1.03c-.125.31-.09.357.245.368 1.57.049 2.375 1.017 2.541 2.502.025.225.032.452.04.678.005.125-.034.232-.183.236-.714.023-1.425.045-2.1-.264-.511-.234-.869-.606-1.086-1.17-.131.225-.237.42-.355.607a5.66 5.66 0 0 1-.839 1.035c-.109.106-.143.189.007.286 1.037.675 1.854 1.567 2.483 2.622.458.768.764 1.606.925 2.492.063.342.144.681.142 1.032 0 .283-.157.478-.394.49-.214.012-.418-.173-.435-.436-.025-.399-.107-.785-.191-1.172-.103-.478-.28-.929-.469-1.377-.059-.14-.117-.191-.267-.098-.44.273-.887.535-1.334.798-.12.07-.121.18-.121.296 0 .518 0 1.036-.002 1.555 0 .215-.122.349-.313.417-.178.063-.315-.032-.425-.16-.077-.089-.094-.207-.094-.32-.002-.617.002-1.232-.003-1.848-.003-.292.167-.45.4-.585.483-.28.954-.58 1.438-.858.166-.096.191-.174.074-.333a7.858 7.858 0 0 0-2.147-2.016c-.102-.064-.186-.07-.29-.005-1.057.654-2.213.907-3.44.796a5.25 5.25 0 0 1-2.289-.751c-.165-.1-.275-.092-.435.012a7.747 7.747 0 0 0-2.01 1.916c-.13.177-.13.278.074.394.485.277.952.583 1.438.858.272.152.396.354.39.666-.011.55-.003 1.1-.004 1.652 0 .073-.003.146-.015.218-.04.231-.23.397-.43.382a.434.434 0 0 1-.387-.428c-.009-.51-.009-1.02-.002-1.53.002-.184-.061-.296-.226-.389-.423-.238-.837-.493-1.251-.746-.115-.07-.176-.068-.239.069a7.307 7.307 0 0 0-.65 2.401c-.034.39-.189.621-.449.62-.261-.001-.408-.226-.447-.616a7.58 7.58 0 0 0-.658-2.401c-.057-.126-.116-.15-.239-.075-.44.272-.886.538-1.332.8-.129.076-.135.189-.135.314 0 .51 0 1.02-.004 1.53 0 .202-.105.332-.288.41-.159.07-.285.002-.402-.091-.11-.088-.137-.22-.138-.351-.005-.64-.003-1.28-.002-1.92 0-.266.181-.397.384-.517.488-.288.969-.587 1.46-.87.176-.1.175-.186.061-.336-.59-.783-1.276-1.46-2.108-1.987-.134-.085-.239-.099-.376-.015-.911.551-1.91.81-2.966.781a5.338 5.338 0 0 1-2.676-.772c-.164-.1-.288-.091-.443.01a7.704 7.704 0 0 0-2.06 1.97c-.11.153-.114.237.061.338.497.289.98.602 1.48.886.26.148.388.342.383.644-.009.567-.002 1.134-.003 1.701 0 .065-.004.13-.016.193-.043.229-.236.395-.435.377a.435.435 0 0 1-.38-.433 36.445 36.445 0 0 1-.002-1.458c.006-.227-.06-.37-.273-.484-.414-.22-.811-.474-1.21-.72-.123-.076-.177-.05-.235.078a7.377 7.377 0 0 0-.654 2.426c-.009.104-.02.213-.058.308-.078.19-.23.31-.438.27C.142 19.514 0 19.39 0 19.15c0-.647.15-1.27.33-1.884.415-1.427 1.206-2.623 2.294-3.628.274-.253.565-.487.88-.688.161-.103.198-.172.044-.323-.932-.916-1.505-2.015-1.66-3.321-.03-.26-.142-.498-.216-.745C1.18 6.942.952 5.29 1.04 3.6c.04-.776.119-1.549.19-2.322.035-.366.36-.528.674-.338.832.502 1.709.502 2.6.225.702-.217 1.37-.534 2.11-.635 1.83-.251 3.586-.035 5.242.806.77.391 1.386.956 1.758 1.752.144.309.24.638.25.982.044 1.38-.178 2.724-.547 4.05-.13.466-.277.925-.35 1.41-.185 1.214-.75 2.248-1.633 3.102-.129.125-.123.208.021.304 1.008.671 1.81 1.539 2.441 2.567.246.402.428.835.595 1.274l.1.257ZM12.466 7.88c.038-.027.056-.033.062-.046a.635.635 0 0 0 .042-.113c.284-1.158.49-2.326.46-3.525a1.97 1.97 0 0 0-.32-1.029c-.385-.603-.955-.977-1.591-1.265-.738-.335-1.518-.494-2.319-.584-1.179-.133-2.328-.03-3.429.425-1.032.425-2.076.613-3.167.249-.142-.048-.188-.003-.195.139-.013.274-.025.55-.06.822-.209 1.596-.029 3.163.347 4.715.015.065-.004.166.091.178.072.009.096-.077.132-.128.403-.576.803-1.156 1.208-1.732.251-.356.376-.398.778-.252.61.222 1.234.39 1.875.494.576.094 1.147.146 1.736.055a12.32 12.32 0 0 0 2.28-.564c.351-.125.5-.07.705.224.246.351.491.703.738 1.054.208.295.418.589.627.883Zm-4.983 5.506c.216.015.47-.047.725-.086 2.095-.317 3.751-2.05 3.968-4.138a.555.555 0 0 0-.118-.403c-.462-.655-.929-1.306-1.378-1.969-.124-.182-.228-.21-.436-.138-.875.301-1.78.506-2.705.518-1.009.012-1.99-.205-2.947-.528-.133-.044-.244-.093-.354.068-.47.688-.953 1.367-1.432 2.049-.077.11-.125.22-.103.36.06.368.126.73.253 1.085.673 1.885 2.401 3.12 4.527 3.181Zm8.763-6.766c.013.38.093.855.256 1.318.063.178.15.218.328.156.788-.277 1.557-.597 2.26-1.057.952-.624 1.718-1.397 2.044-2.53.061-.213.235-.309.453-.287.214.022.317.173.373.366.135.455.34.874.64 1.244.962 1.188 2.274 1.811 3.681 2.283.163.055.212-.028.264-.156.468-1.164.361-2.312-.165-3.414-.675-1.412-1.861-2.222-3.349-2.575a6.446 6.446 0 0 0-3.59.169c-1.892.633-3.177 2.378-3.194 4.482Zm5.293 6.783a4.34 4.34 0 0 0 1.884-.397c1.603-.733 2.532-1.98 2.826-3.713.035-.207-.021-.326-.242-.395a10.441 10.441 0 0 1-2.093-.896c-.924-.532-1.73-1.193-2.288-2.12-.083-.137-.121-.106-.192.007a5.613 5.613 0 0 1-1.256 1.403c-.938.749-2.007 1.238-3.138 1.6-.239.077-.275.2-.244.412.351 2.38 2.352 4.11 4.742 4.099Zm-5.79-3.192c.002-.328-.05-.36-.365-.327-.88.096-1.27.761-1.4 1.482-.03.164.029.254.205.235.16-.018.322-.037.48-.07.695-.144 1.073-.61 1.08-1.32Zm13.12 1.39c.195.023.284-.046.221-.25-.014-.045-.017-.094-.029-.142-.186-.821-.638-1.238-1.452-1.339-.123-.015-.255-.04-.263.15-.013.284-.011.566.121.83.291.583.839.684 1.403.75Z"></path>
                  <path
                    d="M7.41 11.911c-.83.037-1.588-.274-2.283-.774-.263-.19-.32-.41-.173-.62.16-.224.39-.244.656-.056 1.158.823 2.554.812 3.706-.029.264-.192.505-.18.66.036.14.195.077.444-.16.632-.688.543-1.465.81-2.406.812ZM21.64 11.954c-.99-.002-1.78-.293-2.48-.837-.215-.167-.265-.434-.121-.617.153-.196.387-.219.622-.046.97.715 2.015.807 3.121.38.227-.088.428-.226.621-.375.225-.172.473-.16.628.024.158.187.129.425-.098.615a3.605 3.605 0 0 1-2.293.855Z"></path>
                </g>
                <defs>
                  <clipPath id="ChildrenSvgDyn_svg__a">
                    <path fill="#fff" d="M0 .432h30v19.136H0z"></path>
                  </clipPath>
                </defs></svg
              >Children Ministry
            </div>
          </div>
        </div>
      </section>

      <section class="ministry">
        <div class="ministry-container container py-4">
          <div
            class="ministry-wrapper-men d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-center gap-lg-5">
            <img
              src="./images/men-ministry.png"
              alt=""
              class="ministry-img mx-auto" />
            <div class="ministry-text">
              <h2
                class="ministry-header text-center text-lg-start m-lg-0 text-primary fw-bold mt-3 mb-lg-3">
                Men's Ministry
              </h2>
              <p class="text lh-lg">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                deleniti maxime odio quo quia, placeat cupiditate, quas
                doloribus explicabo laudantium nostrum, voluptas repellendus
                culpa saepe ipsa iusto alias deserunt consectetur? Fugit dolorem
                error quos adipisci enim corporis, quis non in cumque est dolor
                magni possimus incidunt minus excepturi nulla praesentium unde?
                Minima maiores corporis esse deserunt vero quis recusandae
                voluptates consequuntur necessitatibus incidunt, tenetur laborum
                iure reprehenderit pariatur similique maxime blanditiis nostrum
                possimus minus! Voluptates unde vel dolor quas id esse rem
                veritatis aliquid vero. Animi, minima vero? Dolore perspiciatis
                obcaecati autem harum qui adipisci praesentium nesciunt aliquid
                non nemo, voluptates sunt totam repellat itaque animi
                consequatur libero recusandae facilis natus dolorum! In ducimus
                architecto culpa! Fuga ab iste veniam accusantium, illo,
                perferendis impedit sed quas deleniti dolore blanditiis omnis
                itaque illum rem repellendus, hic culpa. Dolorum quas quidem
                quasi! Voluptates alias accusamus quas officia, similique,
                veniam, dicta voluptate eum deleniti sint distinctio hic!
                Doloribus officia aperiam tenetur in dolores eius odio animi
                natus dolore vitae? Tempore voluptates excepturi, impedit sed
                maxime similique, dicta nesciunt necessitatibus ipsa tenetur
                cupiditate ea libero expedita accusantium quam perferendis
                obcaecati explicabo odio illo corrupti, labore quia distinctio
                accusamus. Sint iusto voluptatem aliquam sapiente dolorum?
              </p>
            </div>
          </div>

          <div
            class="ministry-wrapper-women d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-center gap-lg-5 hidden">
            <img
              src="./images/women-ministry.png"
              alt=""
              class="ministry-img mx-auto" />
            <div class="ministry-text">
              <h2
                class="ministry-header text-center text-lg-start m-lg-0 text-primary fw-bold mt-3 mb-lg-3">
                Women's Ministry
              </h2>
              <p class="text lh-lg">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                deleniti maxime odio quo quia, placeat cupiditate, quas
                doloribus explicabo laudantium nostrum, voluptas repellendus
                culpa saepe ipsa iusto alias deserunt consectetur? Fugit dolorem
                error quos adipisci enim corporis, quis non in cumque est dolor
                magni possimus incidunt minus excepturi nulla praesentium unde?
                Minima maiores corporis esse deserunt vero quis recusandae
                voluptates consequuntur necessitatibus incidunt, tenetur laborum
                iure reprehenderit pariatur similique maxime blanditiis nostrum
                possimus minus! Voluptates unde vel dolor quas id esse rem
                veritatis aliquid vero. Animi, minima vero? Dolore perspiciatis
                obcaecati autem harum qui adipisci praesentium nesciunt aliquid
                non nemo, voluptates sunt totam repellat itaque animi
                consequatur libero recusandae facilis natus dolorum! In ducimus
                architecto culpa! Fuga ab iste veniam accusantium, illo,
                perferendis impedit sed quas deleniti dolore blanditiis omnis
                itaque illum rem repellendus, hic culpa. Dolorum quas quidem
                quasi! Voluptates alias accusamus quas officia, similique,
                veniam, dicta voluptate eum deleniti sint distinctio hic!
                Doloribus officia aperiam tenetur in dolores eius odio animi
                natus dolore vitae? Tempore voluptates excepturi, impedit sed
                maxime similique, dicta nesciunt necessitatibus ipsa tenetur
                cupiditate ea libero expedita accusantium quam perferendis
                obcaecati explicabo odio illo corrupti, labore quia distinctio
                accusamus. Sint iusto voluptatem aliquam sapiente dolorum?
              </p>
            </div>
          </div>

          <div
            class="ministry-wrapper-youth d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-center gap-lg-5 hidden">
            <img
              src="./images/youth-ministry.png"
              alt=""
              class="ministry-img mx-auto" />
            <div class="ministry-text">
              <h2
                class="ministry-header text-center text-lg-start m-lg-0 text-primary fw-bold mt-3 mb-lg-3">
                Youth's Ministry
              </h2>
              <p class="text lh-lg">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                deleniti maxime odio quo quia, placeat cupiditate, quas
                doloribus explicabo laudantium nostrum, voluptas repellendus
                culpa saepe ipsa iusto alias deserunt consectetur? Fugit dolorem
                error quos adipisci enim corporis, quis non in cumque est dolor
                magni possimus incidunt minus excepturi nulla praesentium unde?
                Minima maiores corporis esse deserunt vero quis recusandae
                voluptates consequuntur necessitatibus incidunt, tenetur laborum
                iure reprehenderit pariatur similique maxime blanditiis nostrum
                possimus minus! Voluptates unde vel dolor quas id esse rem
                veritatis aliquid vero. Animi, minima vero? Dolore perspiciatis
                obcaecati autem harum qui adipisci praesentium nesciunt aliquid
                non nemo, voluptates sunt totam repellat itaque animi
                consequatur libero recusandae facilis natus dolorum! In ducimus
                architecto culpa! Fuga ab iste veniam accusantium, illo,
                perferendis impedit sed quas deleniti dolore blanditiis omnis
                itaque illum rem repellendus, hic culpa. Dolorum quas quidem
                quasi! Voluptates alias accusamus quas officia, similique,
                veniam, dicta voluptate eum deleniti sint distinctio hic!
                Doloribus officia aperiam tenetur in dolores eius odio animi
                natus dolore vitae? Tempore voluptates excepturi, impedit sed
                maxime similique, dicta nesciunt necessitatibus ipsa tenetur
                cupiditate ea libero expedita accusantium quam perferendis
                obcaecati explicabo odio illo corrupti, labore quia distinctio
                accusamus. Sint iusto voluptatem aliquam sapiente dolorum?
              </p>
            </div>
          </div>

          <div
            class="ministry-wrapper-children d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-center gap-lg-5 hidden">
            <img
              src="./images/children-ministry.png"
              alt=""
              class="ministry-img mx-auto" />
            <div class="ministry-text">
              <h2
                class="ministry-header text-center text-lg-start m-lg-0 text-primary fw-bold mt-3 mb-lg-3">
                Children's Ministry
              </h2>
              <p class="text lh-lg">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
                deleniti maxime odio quo quia, placeat cupiditate, quas
                doloribus explicabo laudantium nostrum, voluptas repellendus
                culpa saepe ipsa iusto alias deserunt consectetur? Fugit dolorem
                error quos adipisci enim corporis, quis non in cumque est dolor
                magni possimus incidunt minus excepturi nulla praesentium unde?
                Minima maiores corporis esse deserunt vero quis recusandae
                voluptates consequuntur necessitatibus incidunt, tenetur laborum
                iure reprehenderit pariatur similique maxime blanditiis nostrum
                possimus minus! Voluptates unde vel dolor quas id esse rem
                veritatis aliquid vero. Animi, minima vero? Dolore perspiciatis
                obcaecati autem harum qui adipisci praesentium nesciunt aliquid
                non nemo, voluptates sunt totam repellat itaque animi
                consequatur libero recusandae facilis natus dolorum! In ducimus
                architecto culpa! Fuga ab iste veniam accusantium, illo,
                perferendis impedit sed quas deleniti dolore blanditiis omnis
                itaque illum rem repellendus, hic culpa. Dolorum quas quidem
                quasi! Voluptates alias accusamus quas officia, similique,
                veniam, dicta voluptate eum deleniti sint distinctio hic!
                Doloribus officia aperiam tenetur in dolores eius odio animi
                natus dolore vitae? Tempore voluptates excepturi, impedit sed
                maxime similique, dicta nesciunt necessitatibus ipsa tenetur
                cupiditate ea libero expedita accusantium quam perferendis
                obcaecati explicabo odio illo corrupti, labore quia distinctio
                accusamus. Sint iusto voluptatem aliquam sapiente dolorum?
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs')%>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
