<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/resources.css" />
    <title>Calvary Chapel</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')%>

    <!-- MAIN -->
    <main class="pt-4 pt-xxs-5">
      <section class="hero">
        <div
          class="hero-container container d-flex flex-column justify-content-center align-items-center">
          <h1 class="hero-text text-white text-center mt-5">OUR RESOURCES</h1>
          <input
            class="hero-input mt-3 p-2"
            type="search"
            name=""
            id=""
            placeholder="Search for Anything" />
        </div>
      </section>
      
      <section class="resources-nav py-3">
        <div class="resources-nav-container container overflow-auto">
          <div class="nav-container d-flex flex-row gap-5 py-3">
            <a href="/resources?resources=Verse" class="color text-primary"
              ><div
                class="verse-by-verse text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 23 30"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g fill="currentColor" clip-path="url(#BibleDynSvg_svg__a)">
                    <path
                      d="M22.52 15.014v14.3c0 .517-.165.686-.676.686l-18.047-.001c-1.595 0-2.93-1.11-3.255-2.673-.085-.405-.067-.801-.046-1.207.035-.644.047-1.29.051-1.934.013-2.028-.006-4.055.03-6.083.044-2.4-.003-4.799.05-7.198.05-2.308.007-4.617.053-6.925C.69 3.405.652 2.823.8 2.253A2.993 2.993 0 0 1 3.69 0L21.836 0c.503 0 .684.18.684.69v14.323ZM5.69 12.167V22.99c0 .351.004.356.336.356h15.169c.31 0 .317-.008.317-.324V1.35c0-.34-.002-.341-.351-.341H6.042c-.234 0-.351.119-.351.358v10.799Zm6.673 16.791h8.81c.336 0 .34-.003.34-.326 0-1.307-.006-2.614.005-3.922.002-.252-.074-.322-.324-.322-5.245.007-10.49.004-15.735.006-.678 0-1.366-.061-2.032.032-1.17.166-1.968 1.136-1.935 2.334.036 1.325 1.192 2.219 2.284 2.208 2.862-.028 5.725-.01 8.587-.01ZM4.68 12.168V1.497c0-.083-.005-.166 0-.248.008-.165-.059-.245-.232-.24-.248.007-.497-.009-.744.006-1.24.075-1.977.865-1.988 2.11-.015 1.604.005 3.208-.039 4.813-.056 2.05.01 4.103-.05 6.154-.037 1.265-.038 2.53-.046 3.796-.012 1.762-.014 3.524-.024 5.286-.001.298-.02.595-.028.893-.003.117.038.162.143.072.76-.644 1.666-.8 2.623-.79.385.003.386 0 .386-.382V12.169h-.001Z"></path>
                    <path
                      d="M12.14 9.115c0-.67-.006-1.34.004-2.01.004-.216-.067-.29-.285-.287-.77.01-1.539.005-2.308.003-.09 0-.183.001-.272-.017a.51.51 0 0 1-.398-.452.516.516 0 0 1 .37-.499c.119-.03.245-.038.368-.039.736-.003 1.473-.008 2.209.003.234.003.332-.071.315-.312a7.06 7.06 0 0 1-.001-.695c.012-.359.229-.594.536-.59.29.002.49.232.501.594a6.88 6.88 0 0 1 0 .695c-.018.244.087.31.318.307.728-.01 1.456-.005 2.184-.002.115 0 .233.005.345.028.274.057.408.24.396.515-.012.259-.185.443-.462.458-.289.016-.579.007-.868.007-.53 0-1.06.012-1.588-.005-.25-.008-.33.067-.328.321.012 1.274.006 2.548.005 3.822 0 .107 0 .216-.015.322-.044.303-.236.478-.508.475-.272-.003-.49-.208-.51-.508-.018-.247-.007-.496-.008-.744v-1.39ZM12.185 17.77h4.589c.368 0 .583.185.588.492.005.236-.107.393-.328.472a1.146 1.146 0 0 1-.392.047h-8.88c-.133 0-.265 0-.393-.041a.484.484 0 0 1-.345-.511.482.482 0 0 1 .423-.45c.09-.012.182-.009.273-.009h4.465ZM11.491 20.558h3.748c.099 0 .2-.002.297.015.234.04.423.259.43.482a.502.502 0 0 1-.39.51 1.58 1.58 0 0 1-.368.037c-2.466.002-4.931.002-7.396 0-.132 0-.267-.008-.394-.037a.495.495 0 0 1-.394-.504.53.53 0 0 1 .424-.488c.096-.018.197-.015.296-.015h3.748-.001ZM11.482 27.182H5.775c-.233 0-.446-.034-.57-.268a.477.477 0 0 1 .288-.696c.125-.035.261-.044.392-.044 3.722-.002 7.444-.002 11.165 0 .132 0 .266.007.395.032a.5.5 0 0 1 .403.47.506.506 0 0 1-.413.49c-.104.02-.214.016-.32.016h-5.633Z"></path>
                  </g>
                  <defs>
                    <clipPath id="BibleDynSvg_svg__a">
                      <path
                        fill="currentColor"
                        d="M.479 0h22.043v30H.479z"></path>
                    </clipPath>
                  </defs></svg
                >Verse by Verse
              </div></a
            >

            <a
              href="/resources?resources=Wednesday-Services"
              class="color text-primary"
              ><div
                class="wednesday-services text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 29 24"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <path
                    fill="currentColor"
                    d="M14.488 23.215H1.268c-.176 0-.356.018-.518-.08-.232-.145-.25-.373-.25-.614V6.701c0-.757.107-.863.877-.863.354 0 .708-.011 1.062.004.237.01.323-.086.3-.312-.009-.073-.004-.148 0-.223.013-.392.197-.581.591-.585.746-.006 1.491-.002 2.236-.002.83 0 1.659-.007 2.488.004.214.002.332-.064.435-.259.991-1.869 2.517-3.08 4.584-3.522 3.048-.65 5.91.721 7.423 3.497.115.21.242.286.477.285 1.51-.01 3.02-.005 4.528-.005.615 0 .758.144.763.753.002.242.128.364.38.365h1.173c.511.003.682.174.682.694.001 3.829 0 7.658 0 11.487v4.416c0 .644-.137.78-.791.78h-13.22Zm10.615-10.366c0-2.208-.004-4.416.005-6.624 0-.27-.084-.351-.352-.348-1.136.012-2.272.01-3.41.001-.214-.001-.278.06-.238.276.248 1.34.164 2.653-.348 3.924-.085.211-.008.236.173.235.764-.004 1.528 0 2.292-.001.81 0 .797-.001.81.81.003.293-.103.36-.374.357-1.025-.013-2.05.01-3.075-.014-.403-.01-.724.048-.934.434-.078.142-.229.243-.339.369-.063.073-.203.125-.155.236.04.09.17.042.259.042 1.276.003 2.552.002 3.829.002.523 0 .784.258.781.774-.001.385-.001.386-.387.386l-6.092.001c-.111 0-.234-.016-.332.023-.618.244-1.248.435-1.91.509-.179.02-.23.119-.225.284.007.28 0 .56 0 .838 0 1.463.004 2.926-.003 4.388 0 .229.039.308.28.2.274-.123.574-.138.875-.137 2.833.002 5.665.001 8.497.001.37 0 .373 0 .373-.372v-6.596.002ZM3.898 12.82v6.596c0 .4.001.4.4.4 2.823 0 5.646.002 8.469-.001.32 0 .635.028.93.155.187.081.224.014.224-.162-.003-1.76-.005-3.52.002-5.282 0-.212-.102-.28-.282-.296a4.864 4.864 0 0 1-1.407-.34c-.383-.158-.768-.186-1.172-.184-1.789.007-3.577.003-5.366.003-.483 0-.724-.24-.723-.721 0-.293.149-.44.446-.44 1.388 0 2.776 0 4.164-.002.09 0 .219.049.258-.041.05-.112-.092-.164-.154-.237-.156-.184-.335-.352-.477-.546-.141-.194-.307-.258-.545-.255-.96.013-1.919.005-2.878.006-.825 0-.817 0-.819-.827 0-.25.072-.343.333-.34.903.013 1.807-.001 2.71.009.24.003.314-.035.21-.29-.496-1.226-.56-2.496-.348-3.789.052-.32.027-.354-.302-.354-1.1-.002-2.199-.001-3.298 0-.372 0-.374.001-.374.37v6.568ZM14.501 1.972c-3.163.1-5.546 2.433-5.543 5.565.003 3.156 2.386 5.542 5.542 5.542 3.154 0 5.542-2.387 5.542-5.541 0-3.152-2.378-5.459-5.54-5.566ZM1.662 14.498v7.155c0 .4.001.4.4.4h11.432c.422 0 .463-.065.288-.45a.946.946 0 0 0-.506-.496c-.236-.1-.481-.13-.737-.13-3.009.002-6.018.001-9.027 0-.633 0-.775-.14-.775-.768V7.688c0-.46-.233-.69-.7-.688-.373.002-.375.002-.375.37v7.128Zm25.677.058c0-2.292.003-4.584-.002-6.876-.001-.793.11-.669-.677-.678-.395-.006-.395 0-.395.404v12.829c0 .592-.152.743-.745.743h-6.652c-.848 0-1.696-.009-2.543.004-.482.007-.902.16-1.116.645-.157.355-.111.426.268.426h11.487c.373 0 .375-.002.375-.37v-7.128.001Z"></path>
                  <path
                    fill="currentColor"
                    d="M20.093 15.946c-1.201 0-2.402-.005-3.603.005-.253.002-.34-.076-.339-.334.003-.833-.006-.833.812-.833h6.676c.387 0 .387.002.389.384.003.52-.256.778-.779.778h-3.156ZM20.09 18.183c-1.2 0-2.402-.006-3.603.004-.255.002-.336-.081-.336-.335.002-.832-.007-.831.814-.831h6.676c.384 0 .384 0 .386.387.003.516-.257.774-.78.774H20.09ZM8.922 14.785c1.191 0 2.383.007 3.575-.005.264-.003.376.075.351.347-.018.203-.007.41-.006.614.002.14-.064.206-.203.203-.065-.001-.13.002-.196.002H5.348c-.373 0-.373-.001-.375-.37 0-.167.01-.336-.002-.502-.016-.219.074-.294.291-.292.866.008 1.732.003 2.598.003h1.061ZM8.911 18.182c-1.2 0-2.402-.005-3.603.005-.25.002-.34-.073-.34-.333.002-.834-.007-.834.812-.833h6.676c.387 0 .387 0 .39.384.002.518-.257.778-.778.778H8.91ZM12.802 9.908V8.567c0-.3-.155-.45-.464-.45-.214 0-.429.006-.643-.001-.363-.012-.562-.196-.566-.552a97.23 97.23 0 0 1 0-2.292c.004-.355.203-.539.567-.55.251-.008.504-.016.755.001.262.02.377-.064.355-.342-.02-.25-.009-.503-.002-.755.01-.38.194-.577.566-.58.754-.008 1.509-.009 2.263 0 .372.003.555.202.564.582.006.26.013.522 0 .782-.012.226.061.326.3.312.26-.016.521-.008.782-.001.397.009.59.191.595.58.007.746.007 1.491 0 2.236-.004.377-.197.566-.57.578-.243.007-.485.001-.727.002-.376 0-.377 0-.378.367 0 .95.001 1.9-.001 2.85-.001.531-.168.694-.707.696-.68.002-1.36.003-2.04 0-.464-.002-.646-.182-.65-.641-.004-.494-.001-.988-.001-1.481h.002Zm2.236-.82c0-.494-.002-.988 0-1.481.004-.464.184-.644.642-.65.084-.002.167.001.251 0 .932-.024.766.18.786-.826.003-.178-.066-.255-.247-.25-.26.007-.521.003-.782 0-.465-.005-.642-.18-.65-.642 0-.083.002-.167 0-.251-.026-.929.185-.767-.827-.783h-.028c-.152-.007-.222.064-.22.217.003.27.002.54-.001.81-.005.464-.182.642-.643.648h-.251c-.93.025-.765-.18-.782.83v.028c-.008.153.066.22.218.218.27-.003.54-.002.81.001.463.006.645.183.647.644.003.828.002 1.658.002 2.486 0 .808 0 .802.799.787.204-.004.282-.071.278-.277-.01-.503-.003-1.006-.003-1.509h.001Z"></path></svg
                >Wednesday Services
              </div></a
            >

            <a
              href="/resources?resources=Sunday-Services"
              class="color text-primary"
              ><div
                class="sunday-services text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 21 32"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g fill="currentColor" clip-path="url(#PulpitDynSvg_svg__a)">
                    <path
                      d="M15.087 12.663c-.08-.547-.054-1.022.28-1.442.406-.513 1.105-.716 1.763-.493a1.48 1.48 0 0 1 .995 1.417c-.005.263.076.428.284.595.82.656 1.246 1.515 1.247 2.575 0 .404.001.404.395.408.458.004.617.156.619.604.002.795.002 1.59 0 2.385-.002.437-.162.597-.596.602-.194.002-.389 0-.583 0-.34.002-.342.002-.342.335v11.672c0 .544-.135.68-.67.68H2.518c-.524 0-.664-.139-.664-.659V19.696c0-.253-.124-.38-.372-.38-.195 0-.39.001-.584-.002-.4-.007-.564-.172-.565-.58-.003-.812-.004-1.624 0-2.436.001-.404.169-.572.571-.574.888-.003 1.776-.01 2.664.004.236.004.324-.077.36-.303.228-1.403 1.031-2.35 2.321-2.914.712-.31 1.416-.642 2.122-.967.246-.113.26-.218.036-.37a5.26 5.26 0 0 1-1.74-1.945 5.015 5.015 0 0 1-.262-.604.517.517 0 0 0-.357-.35c-.65-.218-1.037-.799-.977-1.462.04-.446.262-.801.651-1.031.15-.09.202-.195.205-.368.012-.667-.051-1.337.027-2.002.154-1.295.873-2.202 2.01-2.77 1.704-.851 3.444-.856 5.15-.017 1.215.598 1.958 1.597 2.229 2.942.121.605.09 1.212.081 1.82-.002.177.04.296.2.396.479.302.708.756.647 1.313-.068.615-.453 1.004-1.027 1.198a.45.45 0 0 0-.31.293 5.313 5.313 0 0 1-2.322 2.726c-.05.03-.124.043-.129.109-.006.075.073.082.124.105l2.481 1.136Zm-4.614 18.285h7.28c.338 0 .34-.002.34-.336V19.654c0-.338-.002-.34-.337-.34H3.246c-.338 0-.34.001-.34.337v10.933c0 .363.002.364.363.364h7.203Zm.054-14.171H7.838c-2.054 0-4.108.002-6.163-.004-.217 0-.307.061-.294.288.016.278.003.558.004.837 0 .24.122.361.365.362h10.196c2.452 0 4.903-.003 7.355.004.24 0 .337-.065.32-.314-.019-.27-.004-.54-.005-.812 0-.36 0-.362-.364-.362h-8.725Zm4.387-9.548c.082 0 .212-.043.243-.22.03-.17-.053-.28-.21-.327-.22-.065-.442-.112-.565-.344-.047-.089-.139-.027-.203.005a4.004 4.004 0 0 1-.708.274c-1.781.503-3.341.16-4.618-1.227-.138-.15-.24-.166-.404-.065a3.098 3.098 0 0 1-1.187.417c-.153.023-.23.086-.242.234-.034.39-.201.65-.625.704-.155.019-.266.135-.233.306.031.169.156.252.332.247.543-.017.675.076.81.61.278 1.097.915 1.928 1.867 2.52.597.37 1.238.601 1.951.385 1.5-.452 2.466-1.444 2.913-2.94.16-.534.234-.594.88-.58Zm-4.406 8.493h5.15c.335 0 .366-.041.286-.372-.194-.8-.675-1.372-1.409-1.725-.685-.33-1.382-.634-2.07-.96-.184-.086-.286-.07-.416.107-.785 1.068-2.28 1.095-3.054.047-.165-.224-.295-.231-.52-.125-.663.317-1.338.61-2 .927-.736.352-1.22.92-1.417 1.719-.085.345-.055.382.3.382h5.15ZM7.045 3.985c0 .142.007.294-.001.446-.012.194.075.232.247.19a2.85 2.85 0 0 0 1.077-.546c.447-.349.74-.287 1.024.198.302.518.729.906 1.275 1.156 1.033.472 2.047.368 3.064-.077.467-.204.662-.478.628-1.019-.08-1.259-.845-2.41-1.986-2.858-1.176-.463-2.355-.479-3.538-.035-.941.353-1.902 1.183-1.79 2.545Zm10.762 11.737c.22 0 .397-.006.575.001.166.007.225-.07.22-.23a3.241 3.241 0 0 0-.16-.895 2.035 2.035 0 0 0-.762-1.049c-.093-.067-.17-.087-.275-.025-.245.145-.512.22-.8.206-.199-.01-.194.068-.099.203.242.342.39.726.506 1.127.06.208-.011.489.168.617.18.129.444.025.628.045Zm-7.291-3.236c.316-.007.544-.17.7-.447.024-.04.046-.103.03-.14-.023-.055-.088-.02-.134-.012a3.084 3.084 0 0 1-1.202-.03c-.055-.011-.124-.039-.16.028-.03.058.008.115.038.165.16.274.39.434.728.436Zm5.603-.332c-.025.21.215.485.443.508.208.02.485-.228.502-.451.015-.2-.214-.46-.433-.492-.208-.03-.485.205-.512.436Z"></path>
                    <path
                      d="M9.973 25.524c0-.626-.007-1.252.003-1.878.004-.213-.073-.286-.28-.275-.245.013-.49.009-.736 0-.335-.011-.51-.202-.508-.534.003-.319.177-.503.5-.515.262-.008.525-.009.787-.001.177.005.24-.07.235-.242a14.086 14.086 0 0 1 0-.76c.01-.341.193-.52.522-.52.33 0 .518.176.528.513.008.254.01.508 0 .761-.007.19.072.255.256.248.253-.009.507-.007.76.001.337.012.512.201.507.535-.004.318-.177.502-.502.513a7.516 7.516 0 0 1-.735 0c-.228-.014-.288.079-.287.296.008 1.234.005 2.469.003 3.703 0 .355-.15.538-.447.568-.374.038-.6-.156-.604-.537-.006-.626-.002-1.252-.002-1.877Z"></path>
                  </g>
                  <defs>
                    <clipPath id="PulpitDynSvg_svg__a">
                      <path fill="#fff" d="M.33 0H20.67v32H.33z"></path>
                    </clipPath>
                  </defs></svg
                >Sunday Services
              </div></a
            >

            <a
              href="/resources?resources=Guest-Speakers"
              class="color text-primary"
              ><div
                class="guest-speakers text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 30 30"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g
                    fill="currentColor"
                    clip-path="url(#GuestSpeakerDynSvg_svg__a)">
                    <path
                      d="M14.975 30H9.66c-.526 0-.667-.14-.668-.663V27.84c0-.334-.002-.335-.33-.335H.553c-.356-.01-.541-.186-.541-.541-.003-1.98-.003-3.96 0-5.939 0-.378.17-.542.555-.544.708-.005 1.415-.013 2.121.003.26.006.322-.083.32-.33C3 18.492 3.008 16.829 3 15.165a.849.849 0 0 1 .269-.662c.881-.868 1.748-1.751 2.622-2.627.281-.282.283-.28.56.006.11.114.216.232.333.338.114.105.1.185-.004.289-.566.562-1.126 1.128-1.688 1.694-.31.312-.619.626-.93.936a.409.409 0 0 0-.122.313c.002 1.597.003 3.194 0 4.791 0 .168.054.24.23.239 1.165-.005 2.329-.006 3.493.001.248.002.233-.146.233-.311 0-2.429-.002-4.858.001-7.287.002-1.059.381-1.977 1.05-2.787.58-.703 1.32-1.158 2.18-1.427.2-.063.188-.12.065-.256-.612-.681-1.035-1.464-1.215-2.366-.5-2.51.88-4.93 3.29-5.77 2.174-.759 4.581.083 5.846 2.002 1.188 1.803 1.064 4.363-.394 6.008-.19.216-.182.233.09.285 2.035.39 3.59 2.257 3.597 4.331.006 2.404.001 4.808.002 7.211 0 .242.117.363.352.364 1.098 0 2.196-.006 3.293.004.24.002.314-.073.313-.312-.01-1.53-.011-3.061.002-4.591.002-.252-.09-.424-.257-.589-.791-.782-1.58-1.567-2.367-2.354-.257-.257-.254-.299.007-.556.47-.464.478-.473.944-.014.846.833 1.68 1.678 2.522 2.516.148.147.183.323.182.523-.003 1.672-.002 3.344-.001 5.015 0 .238.12.357.358.357.524 0 1.048-.003 1.572.002.398.003.563.165.564.563.002 1.954.002 3.909 0 5.863 0 .428-.175.597-.614.597h-7.984c-.257 0-.385.127-.385.38 0 .509.003 1.015 0 1.523-.003.416-.178.592-.594.593h-5.439l-.001.001Zm.024-8.484H1.378c-.332 0-.332 0-.332.332v4.266c0 .236.12.354.36.354h8.01c.456 0 .611.158.613.617.002.54.007 1.08-.003 1.621-.003.197.069.26.262.26 3.143-.005 6.287-.005 9.43 0 .2 0 .26-.074.257-.265-.009-.516-.003-1.031-.003-1.547 0-.562.126-.687.69-.687h7.958c.334 0 .335-.001.335-.33v-4.242c0-.253-.128-.38-.385-.38H15Zm.242-1.037h5.838c.26 0 .39-.134.39-.401 0-2.23.001-4.457-.002-6.686 0-.224-.021-.448-.039-.672-.126-1.605-1.368-2.83-2.726-3.077-.348-.062-.393-.045-.547.263-.882 1.762-1.766 3.524-2.645 5.287-.108.215-.262.332-.507.333-.244 0-.404-.11-.51-.328-.218-.449-.446-.893-.67-1.339-.666-1.33-1.333-2.66-1.994-3.994-.077-.155-.161-.209-.332-.154a3.403 3.403 0 0 0-.834.385c-1.129.738-1.625 1.813-1.63 3.13-.009 2.304-.002 4.607-.002 6.91 0 .341.001.343.348.343h5.863Zm-.28-11.507c2.175-.005 3.998-1.662 3.99-3.967-.01-2.207-1.702-3.929-3.95-3.93-2.24-.002-3.942 1.718-3.952 3.928-.01 2.3 1.793 3.93 3.912 3.969Zm-2.021.646c.026.09.032.13.05.165.63 1.263 1.263 2.525 1.897 3.787.027.055.038.147.121.136.072-.008.086-.094.114-.152.626-1.247 1.25-2.495 1.873-3.742.024-.048.073-.097.014-.172-1.335.542-2.678.547-4.07-.022Z"></path>
                    <path
                      d="M13.522 22.997c-.005.579.061.515-.521.514-.577 0-.515.067-.514-.52 0-.578-.066-.514.52-.514.582 0 .508-.061.515.52ZM15.519 22.996c-.006.58.062.515-.52.515-.581 0-.515.065-.515-.519 0-.58-.065-.515.519-.515.58 0 .51-.065.516.52ZM17.011 22.475c.561.006.504-.063.503.508-.001.597.07.526-.532.527-.565.002-.502.06-.502-.506 0-.597-.07-.523.531-.529ZM15.518 17.508c-.007.579.063.512-.523.512-.581 0-.511.061-.512-.521-.001-.576-.064-.514.521-.513.576.001.508-.066.515.522Z"></path>
                  </g>
                  <defs>
                    <clipPath id="GuestSpeakerDynSvg_svg__a">
                      <path fill="#fff" d="M.008 0h29.984v30H.008z"></path>
                    </clipPath>
                  </defs></svg
                >Guest Speakers
              </div></a
            >

            <a
              href="/resources?resources=Character-Studies"
              class="color text-primary"
              ><div
                class="character-studies text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 32 32"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g
                    fill="currentColor"
                    clip-path="url(#CharacterStudiesDynSvg_svg__a)">
                    <path
                      d="m16.105 27.515.346.158c.224-.488.402-.854.66-1.159.114-.134.218-.18.353-.18 1.49.001 2.98.002 4.47 0l-5.829 1.18Zm0 0-.46.305-.002-.001-.246-.246.054-.117a4.486 4.486 0 0 0-.543-.923.445.445 0 0 0-.393-.2c-1.482.004-2.964.004-4.446 0-.164 0-.276.055-.39.204a4.098 4.098 0 0 0-.525.898.856.856 0 0 1-.05.115.577.577 0 0 1-.497.32l-.02-.5.021.5a.574.574 0 0 1-.546-.328.831.831 0 0 1-.046-.116v-.002a4.317 4.317 0 0 0-.502-.867c-.125-.163-.248-.226-.431-.225-1.475.006-2.948.005-4.422 0-.173 0-.292.06-.425.234-.493.648-.742 1.416-.954 2.28-.173.704-.24 1.413-.31 2.164l-.048.49H31.075a29.231 29.231 0 0 1-.038-.426l-.005-.052c-.016-.19-.032-.374-.051-.558-.102-.954-.28-1.872-.594-2.753a3.848 3.848 0 0 0-.672-1.211c-.104-.123-.2-.165-.312-.165a4208.55 4208.55 0 0 0-4.543 0 .363.363 0 0 0-.306.15 5.536 5.536 0 0 0-.337.487v.001c-.12.184-.21.393-.336.69l-.454 1.067-.465-1.062c-.202-.461-.392-.825-.645-1.138-.117-.145-.227-.197-.383-.197l-5.829 1.182ZM11.441 7.03c.366-.437.76-.792 1.315-.93.123-.03.128-.143.146-.238.099-.543.09-1.094.107-1.641.026-.857.06-1.708.251-2.55.223-.983 1.237-1.973 2.544-1.58a.65.65 0 0 0 .391-.001c1.247-.379 2.224.519 2.491 1.384.22.71.262 1.44.285 2.17.025.781.069 1.56.145 2.338a.39.39 0 0 0 .202.319c.569.36 1.129.735 1.703 1.087.264.161.371.377.317.667-.035.19.02.336.132.483a14.387 14.387 0 0 1 2.034 3.704c.228.606.13 1.18-.216 1.713-.098.15-.118.275-.052.438.216.54.278 1.11.326 1.682.033.398.067.796.048 1.196-.007.162.068.22.225.219.4-.005.8.004 1.199-.003.19-.004.273.074.273.263-.003.683-.003 1.365.001 2.047.001.159-.07.266-.186.36a2.903 2.903 0 0 0-1.052 1.679c-.052.237-.153.346-.404.323-.207-.02-.416-.006-.624-.005-.138.001-.215-.058-.238-.2a2.278 2.278 0 0 0-.228-.683c-.056-.107-.08-.207.087-.242.17-.037.164-.193.188-.319.103-.53.153-1.069.195-1.607.058-.754.119-1.51.103-2.267-.013-.59-.046-1.18-.152-1.761a2.298 2.298 0 0 0-.068-.291c-.087-.267-.117-.275-.353-.133a4 4 0 0 1-.763.367.707.707 0 0 0-.413.373 13.53 13.53 0 0 1-.488.87c-.195.317-.388.306-.559-.018l-.339-.654c-.056-.006-.067.027-.08.056-.23.527-.723.757-1.242.578-.475-.163-.738-.698-.59-1.221.135-.481.36-.916.74-1.25.147-.129.157-.236.055-.403-.184-.302-.165-.382.135-.562.182-.11.246-.243.23-.45-.027-.347-.037-.695-.055-1.086-.17.104-.308.186-.443.274-1.07.705-2.238 1.204-3.435 1.644-.914.336-1.864.553-2.786.863-.132.044-.224-.021-.321-.086-.41-.277-.852-.44-1.355-.433-1.07.013-1.68.512-1.864 1.561-.206 1.163-.146 2.335-.088 3.506.033.674.123 1.34.22 2.007.029.19-.004.408.27.47.1.023.053.124.026.192-.096.247-.21.489-.25.756-.016.109-.101.146-.202.146-.266.002-.533.001-.799 0-.119 0-.18-.065-.205-.178-.164-.749-.527-1.376-1.134-1.854-.094-.073-.121-.172-.12-.287.001-.699.003-1.398-.002-2.097-.001-.184.077-.25.255-.247.366.006.733-.01 1.098.005.235.01.32-.063.32-.308-.002-.724.066-1.445.184-2.16.052-.314.158-.613.297-.897.338-.695.98-.917 1.672-1.016.454-.065.915-.03 1.343.177.178.086.24.045.2-.162-.057-.294-.1-.59-.133-.888-.024-.207-.118-.272-.327-.272-.725.002-1.423-.14-2.065-.489-.613-.333-.977-.821-.991-1.553-.016-.78-.05-1.562-.113-2.34-.04-.496-.138-.988-.23-1.478a1.013 1.013 0 0 1 .038-.582c.153-.398.345-.775.578-1.13a.74.74 0 0 0 .11-.521 13.73 13.73 0 0 1-.08-1.344c-.004-.238.101-.38.312-.452.228-.078.463-.146.706-.146.168 0 .21-.065.198-.227-.024-.323-.022-.649-.036-.973-.011-.257.098-.422.3-.44.199-.02.357.128.373.38.04.63.07 1.261.103 1.892.01.183.018.365.023.548.006.219.056.4.283.506.142.066.2.212.205.375.03.914.066 1.828.098 2.742.004.099 0 .198 0 .296h.002Zm6.678.37c-.088.033-.113.038-.133.051-.82.55-1.729.66-2.677.51a3.15 3.15 0 0 1-2.112-1.294c-.075-.101-.138-.17-.3-.159-.656.05-1.627 1.285-1.299 1.952.06.123.068.274.088.413.016.119-.028.221-.152.253-.13.034-.215-.054-.242-.162-.076-.306-.194-.602-.22-.92-.047-.572-.047-1.146-.058-1.72-.004-.228-.033-.456-.05-.685l-.09-.062c-.06.087-.112.182-.184.258-.247.26-.518.492-.82.688-.093.06-.184.139-.275.004-.089-.131.008-.196.102-.257.384-.255.7-.586 1.021-.912.187-.19.29-.401.24-.671-.013-.073.002-.171-.066-.205-.094-.047-.143.057-.202.108-.59.514-1.183 1.024-1.91 1.343-.108.047-.118.116-.099.22.056.285.11.57.152.858.136.949.096 1.907.159 2.86.037.584.289.991.805 1.245.874.43 1.804.479 2.752.411.09-.006.191-.047.27 0 .21.125.402.04.596-.032 1.491-.551 2.75-1.433 3.754-2.667.35-.43.676-.878.951-1.429Zm2.777.584c.005-.121-.044-.225-.162-.248-.119-.022-.107.105-.135.174a5.758 5.758 0 0 1-.86 1.454c-1.33 1.646-3.12 2.577-5.071 3.257-.105.037-.198.042-.247-.082-.053-.134.039-.18.139-.215.398-.144.795-.29 1.184-.458 1.18-.508 2.259-1.167 3.173-2.075.583-.58 1.062-1.232 1.381-1.996.084-.202.058-.335-.142-.453a15.524 15.524 0 0 1-.918-.6c-.18-.124-.272-.105-.365.112a9.28 9.28 0 0 1-1.63 2.554c-1.259 1.397-2.803 2.329-4.638 2.764-.177.042-.229.117-.187.296.066.283.12.57.153.857.024.2.122.202.273.16 1.522-.425 3.027-.9 4.444-1.616 1.052-.532 2.045-1.15 2.813-2.067.44-.527.762-1.11.796-1.818Zm2.301 4.898c.015-.174-.041-.332-.098-.488A14.08 14.08 0 0 0 21.3 9.017c-.11-.155-.148-.091-.208.036a4.878 4.878 0 0 1-1.28 1.668c-.125.106-.09.181-.018.293.244.386.472.782.66 1.2.088.191.033.32-.152.403a7.322 7.322 0 0 1-.367.155c-.166.064-.21.146-.106.317.267.44.52.89.769 1.34.057.104.19.238 0 .337-.168.086-.212-.075-.27-.176-.259-.446-.51-.895-.768-1.34-.038-.066-.061-.19-.168-.142-.117.053-.037.157-.013.24a.372.372 0 0 0 .029.069c.37.734.738 1.469 1.11 2.202.033.064.055.168.131.169.097.001.102-.117.143-.185.073-.12.146-.242.208-.37.16-.332.4-.56.766-.658.235-.063.44-.197.643-.326.499-.316.745-.786.79-1.367h-.002Zm-7.2-8.399c.547-.011.864.3 1.05.769.072.18.144.18.287.078.392-.279.65-.658.845-1.088.05-.113.015-.184-.096-.24-.772-.386-1.38-.972-1.944-1.609-.12-.136-.164-.117-.277.006-.566.622-1.16 1.213-1.925 1.595-.137.068-.15.157-.096.283.18.411.437.76.796 1.034.18.136.264.132.349-.1.184-.503.524-.733 1.011-.728ZM16 5.76v.012c.108-.006.216-.01.324-.017.206-.014.281-.111.21-.315-.075-.211-.199-.363-.43-.406-.253-.048-.434.063-.57.266-.186.278-.112.436.217.46.083.005.166 0 .25 0Z"></path>
                    <path
                      d="M14.438 22.607v-.008a2.105 2.105 0 0 0-2.107-2.172c-1.292-.01-2.166.912-2.194 2.138l4.3.042Zm0 0v.008m0-.008v.008m0 0a2.138 2.138 0 0 1-2.14 2.132l2.14-2.132Zm-2.14 2.132c-1.197.003-2.188-.988-2.161-2.181l2.161 2.18ZM19.688 19.928c1.607-.01 2.667 1.24 2.68 2.648m-2.68-2.648a2.607 2.607 0 0 0-2.627 2.665h.024m2.603-2.665.002.5m-.002-.5.002.5m2.677 2.148-2.677-2.148c1.307-.008 2.167.993 2.177 2.152.011 1.182-.97 2.164-2.163 2.166a2.154 2.154 0 0 1-2.143-2.153h-.476m5.282-.017c.014 1.464-1.195 2.667-2.662 2.67l2.662-2.67Zm-5.282.017.476-.011a2.107 2.107 0 0 1 2.13-2.154m-2.606 2.165 2.605-2.165M27.133 24.747c1.233-.033 2.164-.945 2.152-2.18-.013-1.203-.881-2.128-2.15-2.138l-.002 4.318Zm0 0c-1.192.001-2.182-.992-2.164-2.153.019-1.236.926-2.175 2.167-2.165l-.003 4.318ZM2.725 22.603c.01 1.184.97 2.144 2.14 2.144a2.145 2.145 0 0 0 2.162-2.164c-.013-1.224-.894-2.146-2.13-2.153l-2.172 2.173Zm0 0c-.009-1.148.848-2.18 2.172-2.173l2.63 2.148a2.645 2.645 0 0 1-2.663 2.669c-1.449 0-2.627-1.186-2.639-2.64l.5-.004ZM15.996 21.532c.107 0 .217-.015.322.004.126.022.332-.103.352.145.026.333-.092.47-.378.473-.215.001-.43.004-.646-.002-.218-.006-.327-.168-.319-.463.007-.222.18-.145.296-.155.123-.01.248-.003.373-.002Z"></path>
                  </g>
                  <defs>
                    <clipPath id="CharacterStudiesDynSvg_svg__a">
                      <path fill="#fff" d="M.395 0h31.21v32H.395z"></path>
                    </clipPath>
                  </defs></svg
                >Character Studies
              </div></a
            >

            <a
              href="/resources?resources=Topical-Studies"
              class="color text-primary"
              ><div
                class="topical-studies text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 23 30"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g
                    fill="currentColor"
                    clip-path="url(#TopicalStudiesDynSvg_svg__a)">
                    <path
                      d="M.243 15.936V2.638l.001-.258c.008-.36.154-.506.52-.508.516-.004 1.03-.002 1.546-.002 1.24 0 2.481-.006 3.722.005.24.002.314-.072.303-.307C6.318 1.209 6.327.85 6.332.49 6.337.156 6.5 0 6.822 0c.319.001.476.16.48.499.005.374.008.749 0 1.123-.005.177.049.25.238.25 2.95-.003 5.9-.003 8.85 0 .181 0 .25-.058.246-.242-.01-.374-.006-.75-.002-1.124.004-.344.156-.502.474-.506.332-.003.493.156.496.507.005.367.012.734-.002 1.1-.007.208.069.268.271.267 1.413-.007 2.825-.004 4.238-.003.534 0 .645.111.645.643v18.8c0 .094.005.188-.003.28-.024.285-.211.45-.5.446-.296-.003-.464-.16-.466-.466-.005-1.014-.003-2.029-.003-3.043V3.196c0-.234-.114-.352-.342-.352-1.179 0-2.357.006-3.536-.005-.236-.002-.317.068-.305.306.018.358.008.717.003 1.076-.005.335-.168.495-.488.494-.317 0-.477-.161-.481-.499-.005-.375-.008-.75 0-1.124.005-.176-.047-.251-.237-.25-2.95.003-5.9.003-8.85 0-.18 0-.252.056-.247.242.01.374.006.749.002 1.124-.005.349-.168.512-.498.507-.315-.004-.468-.165-.472-.508-.004-.375-.009-.75.001-1.124.005-.186-.067-.242-.247-.242-1.538.005-3.075.008-4.613-.002-.24-.001-.26.11-.26.301.004 2.505.002 5.01.002 7.515V28.66c0 .247.124.37.371.37h19.807c.259 0 .389-.133.389-.4 0-.944-.002-1.888.001-2.832.002-.33.155-.497.45-.511.334-.016.518.147.52.484.003 1.24.003 2.482 0 3.722-.001.36-.154.506-.52.507-1.195.002-2.389 0-3.583 0H.951c-.1 0-.202.006-.304-.003-.228-.02-.373-.16-.398-.387-.01-.093-.005-.187-.005-.28V15.935Z"></path>
                    <path
                      d="M19.478 16.647v8.964c0 .534-.111.644-.645.644H4.135c-.49 0-.614-.121-.614-.603V7.607c0-.452.133-.585.586-.585h14.768c.48 0 .603.124.603.615v9.01Zm-14.984-.033v8.308c0 .24.119.36.357.36h13.294c.24 0 .36-.12.36-.358V8.353c0-.24-.12-.359-.358-.36H4.829c-.223 0-.335.112-.335.335v8.285ZM21.783 23.653c0-.078-.002-.155 0-.233.011-.317.168-.474.476-.477.32-.003.486.156.494.483.004.178.008.358-.004.535-.017.275-.192.42-.484.42-.292-.001-.46-.147-.48-.426-.006-.1 0-.202 0-.302h-.002ZM4.244 28.128c-.078 0-.155.002-.233 0-.328-.01-.489-.171-.488-.49 0-.316.16-.474.495-.48.178-.004.358-.009.535.004.272.02.413.2.407.495-.004.28-.148.445-.413.467-.1.009-.202.002-.303.002v.002ZM6.12 27.157c.078 0 .156-.002.233 0 .326.011.485.177.481.496-.004.305-.164.465-.48.474a6.007 6.007 0 0 1-.536-.003c-.277-.018-.422-.19-.422-.482s.146-.462.422-.482c.1-.008.202-.002.302-.002v-.001ZM7.979 28.128c-.078 0-.156.002-.233 0-.316-.011-.474-.17-.477-.476-.004-.32.155-.486.482-.494.179-.004.358-.008.536.003.274.017.42.192.42.484-.002.291-.148.46-.426.48-.1.008-.201.002-.302.002v.002-.002Z"></path>
                    <path
                      d="M7.053 10.77c.243-.02.384.196.531.365.161.184.254.171.417.002a70.729 70.729 0 0 1 1.52-1.525c.273-.267.564-.28.784-.056.203.208.228.429.03.643-.343.373-.702.73-1.06 1.088-.374.375-.748.751-1.134 1.113-.233.22-.425.228-.663.015a12.423 12.423 0 0 1-.845-.839c-.13-.14-.193-.316-.084-.516.103-.19.251-.291.504-.29ZM7.04 22.007c.18-.008.311.121.444.26.301.316.304.312.608.01.446-.448.893-.895 1.34-1.34.072-.072.146-.143.229-.2.214-.15.504-.12.66.06.195.225.204.448-.01.668-.527.543-1.064 1.075-1.598 1.611-.188.188-.373.377-.567.558-.226.21-.419.235-.645.037-.304-.266-.59-.555-.865-.85-.129-.14-.199-.315-.09-.517a.51.51 0 0 1 .493-.297ZM7.04 15.92c.252-.02.401.19.542.364.176.216.277.148.433-.012.494-.51.998-1.01 1.505-1.507.287-.282.593-.285.816-.027.183.213.184.424-.029.645-.449.466-.91.92-1.367 1.379-.264.265-.526.532-.798.79-.221.208-.42.227-.645.027a12.346 12.346 0 0 1-.863-.853c-.13-.14-.195-.317-.084-.517.115-.206.239-.291.491-.289H7.04ZM14.284 10.803c-.6 0-1.199.002-1.799 0-.373-.002-.536-.156-.534-.493.002-.324.166-.477.525-.478 1.223-.002 2.445-.002 3.668 0 .358 0 .521.156.522.48.002.328-.16.488-.513.49-.622.004-1.246.001-1.868.001ZM14.296 12.207c-.608 0-1.215.003-1.823 0-.357-.002-.52-.157-.522-.481-.001-.328.16-.489.514-.49a811.01 811.01 0 0 1 3.691 0c.35.002.513.165.51.494-.002.316-.163.475-.502.477-.622.003-1.246 0-1.869.001ZM14.323 15.45c.607 0 1.214-.002 1.822.001.358.002.52.155.521.481.002.327-.162.488-.514.489-1.23.003-2.46.003-3.691 0-.35-.001-.513-.165-.51-.493.003-.316.165-.474.503-.476.623-.004 1.246-.001 1.869-.002ZM14.295 17.827c-.608 0-1.215.002-1.823-.001-.357-.002-.52-.156-.52-.482-.002-.327.16-.487.514-.488 1.23-.002 2.46-.003 3.691 0 .35 0 .513.164.51.492-.003.316-.165.475-.503.477-.623.004-1.246.001-1.869.002ZM14.283 22.04c-.6 0-1.2.003-1.799 0-.37-.001-.536-.157-.533-.494.002-.324.165-.476.526-.476 1.222-.002 2.445-.003 3.667 0 .358 0 .521.157.522.48.001.328-.161.488-.514.49-.623.003-1.246 0-1.87 0h.001ZM14.298 23.446h-1.8c-.379-.002-.544-.15-.547-.48-.002-.335.162-.49.535-.491 1.215-.002 2.43-.002 3.644 0 .375 0 .538.154.536.49-.001.33-.167.479-.547.48-.607.003-1.214 0-1.822 0Z"></path>
                  </g>
                  <defs>
                    <clipPath id="TopicalStudiesDynSvg_svg__a">
                      <path fill="#fff" d="M.243 0h22.515v30H.243z"></path>
                    </clipPath>
                  </defs></svg
                >Topical Studies
              </div></a
            >

            <a
              href="/resources?resources=Conferences"
              class="color text-primary"
              ><div
                class="conferences text-center rounded-pill text-primary fw-bold">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="none"
                  viewBox="0 0 33 32"
                  style="height: 18px; width: 18px; margin-right: 12px">
                  <g
                    fill="currentColor"
                    clip-path="url(#ConferenceDynSvg_svg__a)">
                    <path
                      d="M16.47 31.997H1.24c-.273 0-.409-.138-.409-.414v-.525c0-.288.148-.432.445-.432.208 0 .417-.009.624.001.206.01.282-.073.275-.278-.02-.628.029-1.245.277-1.836.52-1.24 1.421-2.05 2.712-2.415.228-.064.305-.152.331-.397.19-1.744 1.074-2.998 2.745-3.59 1.6-.567 3.32-.03 4.384 1.28.218.267.214.27.438-.005a3.988 3.988 0 0 1 6.265.072c.143.183.216.162.35-.005.897-1.123 2.082-1.667 3.502-1.54 1.969.178 3.36 1.63 3.624 3.493.059.414.155.635.61.778 1.678.525 2.737 2.044 2.757 3.815.008.699-.11.622.62.626.375.002.75.005 1.124 0 .175-.003.26.059.255.247-.01.29-.011.582 0 .873.009.203-.08.27-.267.253-.066-.006-.133 0-.2 0H16.471Zm-6.94-8.7a2.657 2.657 0 0 0-2.64 2.406c-.019.217.035.328.266.385a3.83 3.83 0 0 1 2.202 1.457c.116.154.183.178.307.01.515-.7 1.203-1.159 2.023-1.431.158-.053.4-.003.457-.169.05-.146-.032-.34-.065-.512-.242-1.258-1.294-2.142-2.55-2.146Zm13.171 0a2.48 2.48 0 0 0-.967.24c-.976.475-1.433 1.293-1.55 2.34-.017.158.074.15.172.174.949.223 1.732.71 2.32 1.492.137.182.199.15.318-.01a3.831 3.831 0 0 1 2.184-1.442c.245-.063.295-.181.273-.404-.136-1.348-1.277-2.388-2.75-2.39Zm-9.132 2.486c-.135.25.08.266.273.306.097.02.193.05.287.083a4.039 4.039 0 0 1 1.921 1.408c.066.088.116.169.22.03a4.026 4.026 0 0 1 2.414-1.565c.066-.015.119-.019.113-.121-.035-.586-.188-1.123-.553-1.598-.678-.882-1.77-1.231-2.877-.903-.985.292-1.73 1.253-1.799 2.36Zm5.943 4.843c.79 0 1.58-.003 2.37.002.188 0 .27-.06.27-.26-.002-.6-.102-1.168-.396-1.703-.712-1.297-2.553-1.716-3.746-.84-.853.626-1.183 1.485-1.139 2.52.01.222.08.287.293.285.782-.01 1.564-.004 2.347-.004Zm-6.69 0h2.37c.138 0 .269.007.274-.195.01-.486-.01-.961-.195-1.422-.733-1.82-2.963-2.09-4.164-.987-.671.616-.901 1.391-.913 2.263-.005.33.008.34.33.34.767.002 1.532 0 2.297 0v.001Zm-6.645 0c.766 0 1.532-.007 2.297.005.243.004.334-.082.31-.319-.013-.132 0-.266-.003-.399-.027-1.058-.529-1.842-1.465-2.288-.912-.434-1.835-.36-2.67.24-.825.59-1.103 1.445-1.1 2.419 0 .325.015.342.333.343h2.298Zm19.983 0c.782 0 1.564-.004 2.347.003.213.002.312-.071.29-.29a16.191 16.191 0 0 1-.037-.497c-.074-1.105-.629-1.91-1.645-2.296-.982-.373-1.942-.222-2.74.52-.655.609-.878 1.385-.82 2.265.014.23.083.302.307.3.766-.01 1.532-.005 2.298-.005ZM9.476 16.247v-1.23c0-.37.003-.371.38-.372.25 0 .5.007.75-.002.206-.008.28.078.277.281-.008.59-.002 1.182-.002 1.773v4.32c0 .322-.016.336-.34.337-.259.002-.517-.008-.775.003-.214.01-.295-.072-.293-.29.008-.824-.004-1.648.007-2.472a.697.697 0 0 0-.229-.547c-1.194-1.184-2.378-2.377-3.571-3.56a.62.62 0 0 1-.203-.484c.008-.799.01-1.598 0-2.397-.002-.227.076-.306.304-.305 1.348.007 2.696.004 4.045.003.335 0 .336-.002.338-.33 0-.457.028-.917-.006-1.372-.065-.85.333-1.453.967-1.94.662-.506 1.42-.827 2.203-1.096.078-.027.159-.05.236-.08.124-.047.149-.114.053-.223-.597-.678-.84-1.476-.802-2.372.02-.464-.014-.927.09-1.39C13.2 1.179 14.434.11 15.789.013c1.126-.08 2.11.22 2.896 1.054.46.488.741 1.079.804 1.738.068.71.102 1.427-.072 2.135a3.137 3.137 0 0 1-.63 1.234c-.192.237-.19.254.111.354.65.214 1.277.475 1.867.826.377.224.711.495.989.831.272.33.43.707.425 1.145-.006.525-.001 1.049-.001 1.573 0 .267.13.401.39.401h3.92c.371 0 .372.002.373.379 0 .765-.006 1.532.004 2.297a.67.67 0 0 1-.222.526c-1.2 1.19-2.39 2.388-3.588 3.58a.59.59 0 0 0-.192.46c.007.832-.004 1.665.007 2.497.003.242-.086.328-.321.315a7.005 7.005 0 0 0-.774 0c-.238.012-.32-.078-.318-.317.007-1.69.004-3.38.004-5.07 0-.349.007-.698-.003-1.048-.005-.203.072-.288.278-.28.283.009.566.011.849 0 .224-.01.29.09.284.299-.01.35-.005.7-.001 1.049 0 .08-.027.165.086.305.122-.146.229-.292.355-.42.626-.632 1.252-1.266 1.892-1.885a.782.782 0 0 0 .261-.634c-.016-.647-.004-.648-.652-.648H7.257c-.371 0-.342.004-.38.372-.047.464.113.791.456 1.107.667.614 1.29 1.275 1.932 1.916.05.05.093.115.211.143Zm6.697-4.943c1.44 0 2.88-.004 4.319.004.234.002.328-.063.32-.31-.016-.448-.023-.899 0-1.347.022-.416-.167-.69-.486-.92a5.284 5.284 0 0 0-1.232-.65c-.944-.357-1.898-.663-2.925-.675-.686-.008-1.337.159-1.982.348-.768.225-1.513.511-2.174.981-.32.228-.507.504-.483.92.025.432.005.866.006 1.299.001.35.002.35.344.35h4.294Zm1.98-7.6c0-.124.006-.25-.001-.373-.037-.585-.206-1.108-.678-1.498-.423-.35-.913-.437-1.447-.42-.88.026-1.573.58-1.773 1.437-.102.436-.083.879-.056 1.316.048.78.424 1.366 1.163 1.656.81.317 1.571.205 2.223-.398.5-.463.58-1.08.569-1.719Z"></path>
                    <path
                      d="M16.174 14.645h3.67c.325 0 .336.013.337.339v6.042c0 .31-.015.325-.322.327-.25.002-.5-.01-.748.003-.228.012-.306-.077-.305-.305.008-1.198.004-2.396.003-3.595v-1.098c-.001-.333-.01-.343-.33-.343h-4.62c-.311 0-.325.013-.325.323v4.594c0 .28-.144.42-.432.421-.2 0-.4.002-.6 0-.328-.002-.34-.012-.34-.335v-6.017c.001-.353.004-.357.368-.357h3.645v.001Z"></path>
                  </g>
                  <defs>
                    <clipPath id="ConferenceDynSvg_svg__a">
                      <path fill="#fff" d="M.831 0H32.17v32H.831z"></path>
                    </clipPath>
                  </defs></svg
                >Conferences
              </div></a
            >
          </div>
        </div>
      </section>

      <section class="resources container">
        <div
          class="resources-container d-flex flex-column flex-md-row align-items-center align-items-start justify-content-center gap-3 py-3"></div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs')%>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/route.js"></script>
  </body>
</html>
