<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/schedule.css" />
    <title>Calvary Chapel</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs')%>

    <!-- MAIN -->
    <main class="pt-4 pt-xxs-5">
      <section class="hero">
        <div
          class="hero-container container d-flex flex-row justify-content-center align-items-center">
          <h1 class="hero-text text-white text-center">OUR SCHEDULE</h1>
        </div>
      </section>

      <section
        class="schedule-section container d-flex flex-column align-items-center justify-content-start py-5">
        <div class="schedule-container py-3">
          <div
            class="calendar d-flex flex-row align-items-center justify-content-center pb-3">
            <button
              class="d-flex flex-row align-items-center justify-content-center left-button">
              <svg
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="KeyboardArrowLeftIcon"
                style="height: 30px; width: 30px">
                <path
                  d="M15.41 16.59 10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path>
              </svg>
            </button>
            <span class="month fw-bold me-1"></span>
            <span class="year fw-bold ms-1"></span>
            <button
              class="d-flex flex-row align-items-center justify-content-center right-button">
              <svg
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="KeyboardArrowRightIcon"
                style="height: 30px; width: 30px">
                <path
                  d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
              </svg>
            </button>
          </div>
          <div
            class="schedule-type d-flex flex-row align-items-center justify-content-center">
            <p
              class="upcoming d-flex flex-row align-items-center justify-content-center fw-bold w-100 px-3 py-2 m-0 text-center">
              Upcoming<br />
              Services
            </p>
            <p
              class="concluded d-flex flex-row align-items-center justify-content-center fw-bold w-100 px-3 py-2 m-0 text-center">
              Just<br />
              Concluded
            </p>
          </div>
          <div class="event p-4">
            <p class="event-text text-center m-0"></p>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs')%>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/route.js"></script>
  </body>
</html>
